[2021-11-30 15:30] jdpye opened #1 "Leaflet animation plugged into the interpolated data from animate_path()"
In GitLab by @jdpye on Mar 2, 2017, 14:49

We have a leaflet-animation library in otn-toolbox which could take your tweened animal positions as source data and plot them on a map. We'd want to also add permanent station markers I bet, it won't be a minor thing, but the output would be an HTML file with a bit of JS to run an animation on a Leaflet map.

[2021-11-30 15:30] jdpye commented on #1
In GitLab by @chrisholbrook on Feb 26, 2018, 14:18

changed title from **Leaflet animation plugged into the interpolated data from animate{-P-}ath()** to **Leaflet animation plugged into the interpolated data from animate{+_p+}ath()**

[2021-11-30 15:30] jdpye opened #2 "Post GLATOS R workshop manual (v. 2.0) on GLATOSWeb and add link to wiki"
In GitLab by @jdpye on Mar 4, 2017, 20:55

When we have a final link to the GLATOS R manual distributed at GLATOSR 2018 (v 2.0), we should pull a copy into the wiki here for an online reference. If the One True Copy of said manual will live somewhere else going forward, we should look at a mechanism to pull in updates as well. (It might need its own repository in that case)

[2021-11-30 15:30] jdpye commented on #2
In GitLab by @jdpye on Mar 6, 2017, 11:29

Sounds perfect, I'll let @trbinder take the lead.

[2021-11-30 15:30] jdpye commented on #2
In GitLab by @chrisholbrook on Feb 26, 2018, 14:23

changed title from **Post GLATOS R workshop manual to wiki** to **Post GLATOS R workshop manual {+(v. 2.0) on GLATOSWeb and add link +}to wiki**

[2021-11-30 15:30] jdpye commented on #2
In GitLab by @chrisholbrook on Feb 26, 2018, 14:23

changed the description

[2021-11-30 15:31] jdpye commented on #2
In GitLab by @chrisholbrook on Mar 8, 2018, 11:00

closed

[2021-11-30 15:31] #2 closed

[2021-11-30 15:31] jdpye opened #3 "wd should not be set in `animatePaths`"
In GitLab by @chrisholbrook on Mar 6, 2017, 11:25

working directory is set inside `animatePaths` as lazy way to pass mp4 output directory to ffmpeg. This creates problems because `setwd()` is global, so need to explicitly pass output file directory to ffmpeg and remove `setwd()`

[2021-11-30 15:31] jdpye commented on #3
In GitLab by @chrisholbrook on Jun 12, 2017, 14:09

mentioned in commit a436a426a0957af76226830cbac643241ef58ff8

[2021-11-30 15:31] jdpye commented on #3
In GitLab by @chrisholbrook on Feb 26, 2018, 14:25

closed

[2021-11-30 15:31] jdpye opened #4 "contributors guide to pkg development"
In GitLab by @chrisholbrook on Mar 6, 2017, 13:26

@jdpye
Could you outline the workflow for developers?

e.g., When to
1. start a new branch?
2. merge with dev branch?
3. push to dev branch?
4. merge with master?

[2021-11-30 15:31] jdpye commented on #4
In GitLab by @jdpye on Mar 6, 2017, 14:05

Yep, I'll put a doc together here shortly. There's even the opportunity to template the issue submissions a bit, too.

[2021-11-30 15:31] jdpye commented on #4
In GitLab by @jdpye on Mar 6, 2017, 17:19

closed

[2021-11-30 15:31] jdpye opened #5 "toggle off writing to png in mapping functions"
In GitLab by @rneuenhoff on Mar 15, 2017, 16:21

Just a general suggestion: I'm noticing that it is tricky to get the map dimensions correct in the mapping functions. For example, if I want to view just my study area and not all of the Great Lakes, I might want to try a few different map resolutions. I don't necessarily want to write all those trial and error graphics to png files. It may be usefu

[2021-11-30 15:31] jdpye commented on #5
In GitLab by @rneuenhoff on Mar 15, 2017, 16:28

changed title from **toggle off writing to png in {-detectionBubblePlot-}** to **toggle off writing to png in {+mapping functions+}**

[2021-11-30 15:31] jdpye commented on #5
In GitLab by @chrisholbrook on Mar 22, 2017, 13:19

@rneuenhoff Great points. This will be improved in a somewhat major revision of the package in the next month or so. I'll pull developers together to plan revision based on feedback at workshop and issues posted since then.

also , sorry for delayed response. we are working out problem with notifications.

[2021-11-30 15:31] jdpye commented on #5
In GitLab by @chrisholbrook on Sep 26, 2017, 13:42

mentioned in commit 53bee0c80e951738b21d043c1446968ceb12ea09

[2021-11-30 15:31] jdpye commented on #5
In GitLab by @chrisholbrook on Feb 26, 2018, 14:28

closed

[2021-11-30 15:31] jdpye opened #6 "error in detectionEventFilter: could not find function "." [REPLACEMENT ISSUE]"
The original issue

	Id: 6
	Title: error in detectionEventFilter: could not find function "."

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:32] jdpye commented on #6
In GitLab by @chrisholbrook on Mar 22, 2017, 13:09

false alarm.  previously fixed by commit cf580319effa44fa9501723c7992c4388966b7d7

[2021-11-30 15:32] #6 closed

[2021-11-30 15:32] jdpye opened #7 "dplyr multi-stage grouping not working"
In GitLab by @jdpye on Mar 22, 2017, 13:18

I'm building a multiple-options version of the Pincock filter tool in dplyr, and have found that the group_by() function doesn't do what I expect it to with multiple grouping options.  Searching for a solution in the filterFeature branch.

[2021-11-30 15:32] jdpye commented on #7
In GitLab by @jdpye on Jul 18, 2017, 10:37

closed

[2021-11-30 15:32] jdpye commented on #7
In GitLab by @jdpye on Jul 18, 2017, 10:38

The answer was to include things that were group specific in a do() loop, which I'm sure lots of R people understand intuitively.

[2021-11-30 15:32] jdpye opened #8 "position_heat_map feature requests"
In GitLab by @chrisholbrook on Apr 14, 2017, 16:58

to do for position_heat_map
* [x] toggle output formats (plot, png, kmz)
* [x] create kmz instead of kml
* [x] improve accuracy of conversion to grid from wgs84 decimal degrees; convert to UTM first
* [x] add argument 'output_type' to specify if output units are "absolute" or "relative"
* [x] add argument 'output_type' to specify if exporting "fi

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Apr 18, 2017, 13:02

marked the task **allow user to set x and y limits** as completed

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Apr 18, 2017, 13:02

marked the task **allow output directory to be specified** as completed

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 26, 2018, 14:31

marked the task **double check dependencies (raster, geosphere, plotrix)** as completed

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 26, 2018, 14:32

changed title from **{-TODO positionHeatMap-}** to **{+position_heat_map feature requests+}**

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 26, 2018, 14:32

changed the description

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Sep 4, 2018, 15:46

assigned to @trbinder and unassigned @chrisholbrook

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 8, 2019, 16:06

marked the task **toggle output formats (plot, png, kmz)** as completed

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 8, 2019, 16:06

marked the task **create kmz instead of kml** as completed

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 8, 2019, 16:06

marked the task **improve accuracy of conversion to grid from wgs84 decimal degrees; convert to UTM first** as completed

[2021-11-30 15:32] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 8, 2019, 16:06

marked the task **add argument 'output_type' to specify if output units are "absolute" or "relative"** as completed

[2021-11-30 15:33] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 8, 2019, 16:06

marked the task **return something (raster? matrix?)** as completed

[2021-11-30 15:33] jdpye commented on #8
In GitLab by @chrisholbrook on Feb 8, 2019, 16:21

requested features added with  2feb180c

[2021-11-30 15:33] jdpye opened #9 "Documentation issue [REPLACEMENT ISSUE]"
The original issue

	Id: 9
	Title: Documentation issue

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:33] jdpye commented on #9
In GitLab by @chrisholbrook on Jun 12, 2017, 15:13

closed via commit 870e22bcd2e3073015c1397504f3ea916afd4ff7

[2021-11-30 15:33] jdpye commented on #9
In GitLab by @chrisholbrook on Jun 12, 2017, 15:16

mentioned in commit 870e22bcd2e3073015c1397504f3ea916afd4ff7

[2021-11-30 15:33] #9 closed, assigned to nobody

[2021-11-30 15:33] jdpye opened #10 "Units for grid simulations [REPLACEMENT ISSUE]"
The original issue

	Id: 10
	Title: Units for grid simulations

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:33] jdpye commented on #10
In GitLab by @chrisholbrook on Feb 12, 2019, 02:21

mentioned in commit 9b7f2ef23d6645fb788e095184ed4bc05d9826a3

[2021-11-30 15:33] jdpye commented on #10
In GitLab by @chrisholbrook on Feb 12, 2019, 02:24

Fixed in 0.3.0. Simulation now done in EPSG 3175 (Great Lakes Basin) by default (which means units are meters) and user can specify EPSG for other areas. Input polygon can also be SpatialPolygons object and return object can also be spatial object.

[2021-11-30 15:33] #10 closed

[2021-11-30 15:33] jdpye opened #11 "Trailing points option for animatePaths [REPLACEMENT ISSUE]"
The original issue

	Id: 11
	Title: Trailing points option for animatePaths

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:33] jdpye commented on #11
In GitLab by @chrisholbrook on Jun 12, 2017, 14:09

mentioned in commit 7a75c962af4835d222008ab1263b11b9f2b45179

[2021-11-30 15:33] jdpye commented on #11
In GitLab by @chrisholbrook on Jun 12, 2017, 14:21

fixed in dev

[2021-11-30 15:33] jdpye commented on #11
In GitLab by @chrisholbrook on Feb 26, 2018, 14:35

added to make_frames() in glatos v0.2.3 (animatePath is defunct)

[2021-11-30 15:33] jdpye commented on #11
In GitLab by @chrisholbrook on Feb 26, 2018, 14:35

closed

[2021-11-30 15:33] #11 closed

[2021-11-30 15:33] jdpye opened #12 "Add a tool to create the unique detection ID for OTN data"
In GitLab by @anunes on Aug 8, 2017, 15:16

This tool will add a column to any file. The unique id will be sequential integers. No validation is done on the input file.

The specs for this tool can be found here: https://members.oceantrack.org/data/otn-tool-box#add-unique-id

[2021-11-30 15:33] jdpye commented on #12
In GitLab by @anunes on Oct 13, 2017, 12:41

changed title from **Add a tool to create the uni{-eu-} detection ID for OTN data** to **Add a tool to create the uni{+que+} detection ID for OTN data**

[2021-11-30 15:34] jdpye opened #13 "Add the Cohort tool from OTN"
In GitLab by @anunes on Aug 8, 2017, 15:21

The tool takes a file of compressed detections and a time parameter in minutes. It identifies groups of animals traveling together. Each station a animal visits is checked for other animals detected there within the specified time period.

Details found here: https://members.oceantrack.org/data/otn-tool-box#cohort-data-product

[2021-11-30 15:34] jdpye opened #14 "Add the OTN Compression Tool to the package"
In GitLab by @anunes on Aug 8, 2017, 15:25

The compression tool is made to turn multiple short detections into a single detection with a start and end.

This is the same as the first step of the Mihoff Interval Data Tool. It will produce only the compressed data file. The file is used for several tools so there is a need for a separate tool.

Details here: https://members.oceantrack.org/data/otn-

[2021-11-30 15:34] jdpye opened #15 "Add the OTN distance matrix tool to the package"
In GitLab by @anunes on Aug 8, 2017, 15:28

This takes a file created by the White-Mihoff False Filtering tool. The file contains rows of station pairs with the straight line distance between them calculated in metres. A station pair will only be in the file if an animal traveled between the stations. If an animal goes from stn1 to stn2 and then to stn3, pairs stn1-stn2 and stn2-stn3 will be in th

[2021-11-30 15:34] jdpye opened #16 "Add the OTN interval data tool to the package"
In GitLab by @anunes on Aug 8, 2017, 15:30

(Mihoff, M., Jones, B., Bajona, L., Halfyard, E. 2014. Mihoff Interval Data Tool)

This tool will take a file of detections and a distance matrix file and output two files. One will be a compressed detection file. Records will contain the animal id, the arrival time at a station, the departure time at a station and the detection count at a station. The o

[2021-11-30 15:34] jdpye opened #17 "Add OTN example detection data file"
In GitLab by @chrisholbrook on Sep 25, 2017, 16:33

Add OTN example detection data file. Minimally (1) add *.rda file with example data frame (file name same as data frame name; eg, with devtools::use_data) to /data and (2) add description to R/data.r. Optionally, could also (3) add *.csv file (or any other 'raw' file) to R/inst/extdata and (4) add script that creates data frame in *.rda from raw

[2021-11-30 15:34] jdpye commented on #17
In GitLab by @chrisholbrook on Sep 26, 2017, 15:55

changed title from **Add OTN example d{-ata files-}** to **Add OTN example d{+etection data file+}**

[2021-11-30 15:34] jdpye commented on #17
In GitLab by @chrisholbrook on Sep 26, 2017, 15:55

assigned to @jdpye

[2021-11-30 15:34] jdpye commented on #17
In GitLab by @chrisholbrook on Feb 26, 2018, 14:42

added by @anunes; present in glatos v0.2.3

[2021-11-30 15:34] jdpye commented on #17
In GitLab by @chrisholbrook on Feb 26, 2018, 14:42

closed

[2021-11-30 15:34] #17 closed

[2021-11-30 15:34] jdpye opened #18 "Add OTN date type example to detectionEventFilter() [REPLACEMENT ISSUE]"
The original issue

	Id: 18
	Title: Add OTN date type example to detectionEventFilter()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:34] jdpye commented on #18
In GitLab by @chrisholbrook on Feb 26, 2018, 14:44

under the new pkg workflow, individual functions are looking for single data type. read_otn_detections will return a glatos_detections object, which can be passed to other functions in the package

[2021-11-30 15:34] jdpye commented on #18
In GitLab by @chrisholbrook on Feb 26, 2018, 14:44

closed

[2021-11-30 15:34] #18 closed

[2021-11-30 15:34] jdpye opened #19 "Use data.table instead of dplyr in detectionEventFilter() [REPLACEMENT ISSUE]"
The original issue

	Id: 19
	Title: Use data.table instead of dplyr in detectionEventFilter()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:34] jdpye commented on #19
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

data.table is used in detection_events() in v0.2.3

[2021-11-30 15:34] jdpye commented on #19
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

closed

[2021-11-30 15:34] #19 closed

[2021-11-30 15:34] jdpye opened #20 "Remove global variable ml from getMinLag() [REPLACEMENT ISSUE]"
The original issue

	Id: 20
	Title: Remove global variable ml from getMinLag()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:34] jdpye commented on #20
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

not an issue in min_lag (glatos v0.2.3)

[2021-11-30 15:35] jdpye commented on #20
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

closed

[2021-11-30 15:35] #20 closed

[2021-11-30 15:35] jdpye opened #21 "Use data.table instead of dplyr in getMinLag() [REPLACEMENT ISSUE]"
The original issue

	Id: 21
	Title: Use data.table instead of dplyr in getMinLag()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:35] jdpye commented on #21
In GitLab by @chrisholbrook on Feb 26, 2018, 14:49

closed

[2021-11-30 15:35] #21 closed

[2021-11-30 15:35] jdpye opened #22 "Add OTN date type example to getMinLag() [REPLACEMENT ISSUE]"
The original issue

	Id: 22
	Title: Add OTN date type example to getMinLag()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:35] jdpye commented on #22
In GitLab by @jdpye on Feb 28, 2019, 08:41

Works as of 0.3.1

[2021-11-30 15:35] jdpye commented on #22
In GitLab by @jdpye on Feb 28, 2019, 08:41

closed

[2021-11-30 15:35] #22 closed

[2021-11-30 15:35] jdpye opened #23 "Add OTN date type example to falseDetectionFilter() [REPLACEMENT ISSUE]"
The original issue

	Id: 23
	Title: Add OTN date type example to falseDetectionFilter()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:35] jdpye commented on #23
In GitLab by @chrisholbrook on Feb 26, 2018, 14:48

closed

[2021-11-30 15:35] #23 closed

[2021-11-30 15:35] jdpye opened #24 "Replace detectionBubblePlot() with make-table function (return site-frequencies) and plot demo [REPLACEMENT ISSUE]"
The original issue

	Id: 24
	Title: Replace detectionBubblePlot() with make-table function (return site-frequencies) and plot demo

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:35] jdpye commented on #24
In GitLab by @chrisholbrook on Sep 27, 2017, 11:31

changed title from **Replace {-abacus-}Plot() with make-table function (return site-frequencies) and plot demo** to **Replace {+detectionBubble+}Plot() with make-table function (return site-frequencies) and plot demo**

[2021-11-30 15:35] jdpye commented on #24
In GitLab by @chrisholbrook on Feb 26, 2018, 14:47

detection_bubble_plot() (glatos v0.2.3) still makes the table, but it calls new function summarize_detections() to do this.

[2021-11-30 15:35] jdpye commented on #24
In GitLab by @chrisholbrook on Feb 26, 2018, 14:47

closed

[2021-11-30 15:35] #24 closed

[2021-11-30 15:36] jdpye opened #25 "Replace abacusPlot() with make-table function and plot demo [REPLACEMENT ISSUE]"
The original issue

	Id: 25
	Title: Replace abacusPlot() with make-table function and plot demo

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:36] jdpye commented on #25
In GitLab by @chrisholbrook on Feb 26, 2018, 14:50

closed

[2021-11-30 15:36] #25 closed

[2021-11-30 15:36] jdpye opened #26 "Describe need for ssh key in contribution guide"
In GitLab by @chrisholbrook on Oct 5, 2017, 13:44

Describe need for ssh key in contribution guide; when it's needed and link to resources.

[2021-11-30 15:36] jdpye commented on #26
In GitLab by @jdpye on Oct 5, 2017, 14:06

Link added as a preamble to the developer method of contribution.

[2021-11-30 15:36] jdpye commented on #26
In GitLab by @jdpye on Oct 5, 2017, 14:06

closed

[2021-11-30 15:36] #26 closed

[2021-11-30 15:36] jdpye opened #27 "Use data.table instead of dplyr in velTest() [REPLACEMENT ISSUE]"
The original issue

	Id: 27
	Title: Use data.table instead of dplyr in velTest()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:36] jdpye commented on #27
In GitLab by @anunes on Oct 13, 2017, 11:12

@chrisholbrook I don't think we'll get any significant change out of this. data.table::shift runs about the same as dplyr::lead and dply::lag.

[2021-11-30 15:36] jdpye commented on #27
In GitLab by @chrisholbrook on Oct 13, 2017, 15:17

@anunes Good point, you are probably right. The function is pretty slow, but I haven't tried to identify the bottleneck. I'll profile before making any changes and report back here.

[2021-11-30 15:36] jdpye commented on #27
In GitLab by @anunes on Oct 13, 2017, 16:24

No need. I benchmarked each one below on a dataset of 1.8 million detections. There is a difference but it's so negligible, the bottleneck is definitely somewhere else.
[code]

[2021-11-30 15:36] jdpye opened #28 "Velocity calculation error in velTest() [REPLACEMENT ISSUE]"
The original issue

	Id: 28
	Title: Velocity calculation error in velTest()

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:36] jdpye commented on #28
In GitLab by @chrisholbrook on Feb 26, 2018, 14:52

velTest() is a proposed new feature in testUpdate branch. This fix will need to be considered before merge.

[2021-11-30 15:36] jdpye opened #30 "Change x-axis interval on Abacus plot"
In GitLab by @eschae on Nov 21, 2017, 13:32

I'd like to change the x-axis (Date/timestamp) of my abacus plot to weekly intervals, but haven't been able to find anything that works. My df is named "detections" and the code includes a control table and loop to spit out an abacus plot for each of my tagged individuals.

abacusfun<-function(detections,transmitter_ids=50862){
  input<-subset(detection

[2021-11-30 15:36] jdpye commented on #30
In GitLab by @eschae on Nov 21, 2017, 13:33

changed the description

[2021-11-30 15:36] jdpye commented on #30
In GitLab by @chrisholbrook on Nov 21, 2017, 13:54

Unfortunately the x axis major ticks  in the abacusPlot function are hard-coded at five equidistant breaks over the range of x. The fastest way for you to get the spacing you want is probably to grab the source code (https://gitlab.oceantrack.org/GreatLakes/glatos/blob/master/R/abacusPlot.R) and edit lines 183-184 with something like:

[code]

Yo

[2021-11-30 15:36] jdpye commented on #30
In GitLab by @chrisholbrook on Nov 21, 2017, 13:59

In hindsight this function would probably serve best as a demo rather than a function because most users will need more flexibility than can realistically be accommodated in the function. An update to the glatos package is in the works that will focus more on interactive plots for data exploration and summarization and include code for plots like

[2021-11-30 15:36] jdpye commented on #30
In GitLab by @eschae on Nov 21, 2017, 17:17

Thanks for the quick response! What do you mean by reading in the function 'manually'?

[2021-11-30 15:37] jdpye commented on #30
In GitLab by @chrisholbrook on Nov 21, 2017, 17:29

By 'read in the function manually' I just meant read in the function like any other function you write yourself (e.g., in this case since the abacusPlot source file only contains the one function, could hit Ctrl + Alt + R to 'run all' in RStudio after you've edited the file).

The main point there was just that your customized function will be se

[2021-11-30 15:37] jdpye commented on #30
In GitLab by @chrisholbrook on Feb 8, 2019, 14:53

requested functionality was added with a9ea93a9

[2021-11-30 15:37] jdpye commented on #30
In GitLab by @chrisholbrook on Feb 8, 2019, 14:58

mentioned in commit f42f4c220f82fd56a507c80233d1874926c64c19

[2021-11-30 15:37] jdpye commented on #30
In GitLab by @chrisholbrook on Feb 28, 2019, 08:45

fixed in 0.3.1

[2021-11-30 15:37] jdpye commented on #30
In GitLab by @chrisholbrook on Feb 28, 2019, 08:45

closed

[2021-11-30 15:37] #30 closed

[2021-11-30 15:37] jdpye opened #31 "Add error handling to interpolatePath when an animal_id only contains one record"
In GitLab by @chrisholbrook on Jan 18, 2018, 17:44

Add error handling to interpolatePath when an animal_id only contains one record. The function should not interpolate per se but should return the single record in the result.

[2021-11-30 15:37] jdpye commented on #31
In GitLab by @chrisholbrook on Feb 26, 2018, 14:52

fixed in interpolate_path (glatos v0.2.3)

[2021-11-30 15:37] jdpye opened #32 "Autoscale map extent in make_frames to range of data by default"
In GitLab by @chrisholbrook on Jan 18, 2018, 17:47

Autoscale map extent in make_frames to range of `proc_obj` by default. Change default backgroundYlim and backgrounXlim arguments to NULL. Defaults are currently set to all of great lakes.

[2021-11-30 15:37] jdpye commented on #32
In GitLab by @chrisholbrook on Feb 26, 2018, 14:53

changed the description

[2021-11-30 15:37] jdpye commented on #32
In GitLab by @chrisholbrook on Feb 26, 2018, 14:55

changed title from **Autoscale map extent in {-animatePath-} to range of data by default** to **Autoscale map extent in {+make_frames+} to range of data by default**

[2021-11-30 15:37] jdpye commented on #32
In GitLab by @chrisholbrook on Feb 26, 2018, 14:55

changed the description

[2021-11-30 15:37] jdpye commented on #32
In GitLab by @chrisholbrook on Sep 4, 2018, 15:53

changed the description

[2021-11-30 15:37] jdpye opened #33 "make_frames error when arg 'tail_dur = Inf' [REPLACEMENT ISSUE]"
The original issue

	Id: 33
	Title: make_frames error when arg 'tail_dur = Inf'

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:37] jdpye opened #34 "Investigate potential issue with filter detections (number of first + number last != first + last) --> filtered data set?"
In GitLab by @chrisholbrook on Mar 1, 2018, 12:25

[2021-11-30 15:37] jdpye commented on #34
In GitLab by @chrisholbrook on Mar 8, 2018, 10:08

assigned to @thayden and unassigned @chrisholbrook

[2021-11-30 15:37] jdpye commented on #34
In GitLab by @chrisholbrook on Mar 8, 2018, 10:16

Todd tested and confirmed there is no issue. Problem was likely suspected due to objects with similar names in example script used during workshop.

[2021-11-30 15:37] #34 closed

[2021-11-30 15:38] jdpye opened #35 "Resolve conflicts with input arguments in abacus_plot (e.g., arg pch vs pch in ...) [REPLACEMENT ISSUE]"
The original issue

	Id: 35
	Title: Resolve conflicts with input arguments in abacus_plot (e.g., arg pch vs pch in ...)

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:38] jdpye commented on #35
In GitLab by @chrisholbrook on Mar 8, 2018, 10:22

Formal arguments `ylab` and `pch` in abacus_plot are also optional plot parameters that could be passed via `...`, raising potential for confusion and conflict.
Remove arguments ylab and pch and allow them to be specified via ...

[2021-11-30 15:38] jdpye commented on #35
In GitLab by @chrisholbrook on Mar 8, 2018, 10:22

assigned to @chrisholbrook

[2021-11-30 15:38] jdpye commented on #35
In GitLab by @chrisholbrook on Feb 8, 2019, 14:42

fixed by a9ea93a945f755e7fa7b19818d001e990ae320b0

[2021-11-30 15:38] jdpye commented on #35
In GitLab by @chrisholbrook on Feb 8, 2019, 14:58

mentioned in commit f42f4c220f82fd56a507c80233d1874926c64c19

[2021-11-30 15:38] jdpye commented on #35
In GitLab by @chrisholbrook on Feb 28, 2019, 08:44

closed

[2021-11-30 15:38] #35 closed

[2021-11-30 15:38] jdpye opened #36 "Add receiver status to abacus_plot"
In GitLab by @chrisholbrook on Mar 1, 2018, 12:31

Add option to add receiver uptime to abacus_plot; maybe use grey background shading etc to show when receivers present/absent.

1. Bring in receiver data
2. Make receiver deployment events
3. Plot events using shading behind abacus points

[2021-11-30 15:38] jdpye commented on #36
In GitLab by @chrisholbrook on Sep 4, 2018, 15:57

changed the description

[2021-11-30 15:38] jdpye commented on #36
In GitLab by @trbinder on Oct 24, 2018, 11:08

closed

[2021-11-30 15:38] jdpye commented on #36
In GitLab by @chrisholbrook on Oct 24, 2018, 11:18

reopened; pending merge request

[2021-11-30 15:38] jdpye commented on #36
In GitLab by @chrisholbrook on Oct 24, 2018, 11:18

reopened

[2021-11-30 15:38] jdpye commented on #36
In GitLab by @chrisholbrook on Mar 21, 2019, 15:22

fixed in v0.3.1

[2021-11-30 15:38] jdpye commented on #36
In GitLab by @chrisholbrook on Mar 21, 2019, 15:22

closed

[2021-11-30 15:38] #36 closed

[2021-11-30 15:38] jdpye opened #37 "Add option to input spatial data frame object make_transition"
In GitLab by @chrisholbrook on Mar 1, 2018, 15:44

Add option to input spatial object as spatial data frame instead of shapefile path. Use temp file write/read.

[2021-11-30 15:38] jdpye commented on #37
In GitLab by @chrisholbrook on Mar 14, 2018, 15:17

added in v0.2.5

[2021-11-30 15:38] jdpye commented on #37
In GitLab by @chrisholbrook on Mar 14, 2018, 15:17

closed

[2021-11-30 15:38] #37 closed

[2021-11-30 15:38] jdpye opened #38 "Allow 'dir' and 'output_dir' in make_video() to contain spaces [REPLACEMENT ISSUE]"
The original issue

	Id: 38
	Title: Allow 'dir' and 'output_dir' in make_video() to contain spaces

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2021-11-30 15:39] jdpye commented on #38
In GitLab by @chrisholbrook on Mar 5, 2018, 17:45

closed via commit 022507b5badf88a784499fa1216349ff5b3f5b44

[2021-11-30 15:39] jdpye commented on #38
In GitLab by @chrisholbrook on Mar 5, 2018, 17:46

mentioned in commit 022507b5badf88a784499fa1216349ff5b3f5b44

[2021-11-30 15:39] #38 closed

[2021-11-30 15:39] jdpye opened #39 "Interpolate_path"
In GitLab by @eschae on Mar 5, 2018, 17:14

I would like to use my own shapefile for the interpolate_path function but I continue to get the error below. I'm not able to use the "greatLakesTrLayer" because I have receivers outside of this layer's range. My code is below. Thoughts or suggestions?

library(raster)

library(sp)

library(rgdal)

library(gdistance)

SLR_map=readOGR("C:/Users/schae396/D

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 5, 2018, 17:15

changed the description

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 5, 2018, 17:19

Any chance you can attach your shapefile?

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 5, 2018, 17:38

interpolate_path() needs a transition raster for non-linear interpolation, so you'll need to create a transition raster (analogous to greatLakesTrLayer) from your shapefile to input to interpolate_path().

see `?make_transition`

Try something like this:

[code]

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 5, 2018, 18:00

The shapefile is attached.
[SLR_and_BayLS_polygon.shp](/uploads/66a3cd84182b1ecdd0fce60ea811973c/SLR_and_BayLS_polygon.shp)

I ran it two different ways and it resulted in two different errors.
RUN 1:
[code]

Error in path.expand(in_file) : invalid 'path' argument

RUN 2:
[code]

Error in .local(.Object, ...) :

In addition: Warning message:
running comm

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 6, 2018, 11:06

I'm not sure what the problem is here, but I'd like to investigate further and improve documentation and/or checks. Can you zip and attach the whole folder named `UPDATED_SLRE (elevation_603)`?

See attached 'shoreline.zip' as an example.
 [shoreline.zip](/uploads/339020efdf55bd11bb99e51202799961/shoreline.zip)

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 6, 2018, 12:13

Thanks for investigating further. The zipped folder is attached.[SLR_and_BayLS_polygon.zip](/uploads/19ecbfff94ecdc3df50795590663c3f5/SLR_and_BayLS_polygon.zip)

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 6, 2018, 16:16

It seems the gdal_rasterize function does not like your shapefile, but I'm not sure why. One thing noticed is that your shapefile is in UTM, which has been an issue with others too. We mocked up some changes today and pushed to the development version of the package. You might install it and try running `make_transition` from there.

To install th

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 7, 2018, 12:55

Thanks Chris! The animation is running, but the background seems to be defaulting to the greatLakesPolygon (see attached), rather than the added shapefile. However, it appears to have interpolated the path correctly based on the shapefile. The non-linear interpolation is also giving an error, perhaps this is linked to that shapefile too. Sorry this is so

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 7, 2018, 14:27

We're getting close!

So I think there's two things here:

1. Your first call to interpolate_path() (with `trans=SLR_trans$transition`) is correct, but the function is probably only using linear interpolation due to the spatial resolution of your receivers and the temporal resolution of the interpolation. This interpolation is done over time, so w

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 7, 2018, 16:04

Awesome, thanks!! It worked! The only funky thing left is the adjust_playback_time function that doesn't produce a "new.wmv" file and the error:
"Warning message:
running command '"ffmpeg" -i C:/Users/schae396/Documents/R/glatos R package/Animations/frames1/animation.mp4 -filter:v "setpts=2.000000*PTS" C:/Users/schae396/Documents/R/glatos R package/Anima

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 7, 2018, 16:21

I'm guessing the 'status 1' error is because there is a space in the path to the video (/glatos R/). I'll push a fix that will fix that issue, but for now, try moving the mp4 file to a directory whose path contains no spaces. That should work.

Also, any particular reason you are converting to .wmv? I suggest not converting to .wmv unless you real

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 7, 2018, 16:35

Yep, removing the space corrected the error. As for the .wmv, I misunderstood and didn't realize it could still be mp4.

THANK YOU!

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @eschae on Mar 7, 2018, 16:35

closed

[2021-11-30 15:39] jdpye commented on #39
In GitLab by @chrisholbrook on Mar 7, 2018, 16:38

Thanks for hanging in there through all this! Several things discovered that will be fixed.

[2021-11-30 15:39] #39 closed

[2021-11-30 16:43] jdpye opened #40 "Check for external depencies"
In GitLab by @chrisholbrook on Mar 7, 2018, 09:59

Add a function to check if R can call any or all external dependencies (ffmpeg, gdal, vue/fathom).

[2021-11-30 16:43] jdpye commented on #40
In GitLab by @thayden on Mar 9, 2018, 11:29

mentioned in merge request !7

[2021-11-30 16:43] jdpye commented on #40
In GitLab by @chrisholbrook on Mar 14, 2018, 15:16

check_dependencies() added in v0.2.5

[2021-11-30 16:43] jdpye commented on #40
In GitLab by @chrisholbrook on Mar 14, 2018, 15:16

closed

[2021-11-30 16:43] #40 closed

[2021-11-30 16:43] jdpye opened #41 "Append animal release data records to glatos_detections data frame"
In GitLab by @chrisholbrook on Mar 7, 2018, 14:47

A new function would be useful that appends animal release data records from glatos_animals object to glatos_detections object.

[2021-11-30 16:43] jdpye opened #42 "Add switch to return data.table from data loading functions"
In GitLab by @thayden on Mar 13, 2018, 11:28

Enable functions to return a data.table instead of data.frame.  This could be easily added by including a "switch" argument in function.

[2021-11-30 16:43] jdpye commented on #42
In GitLab by @chrisholbrook on Mar 13, 2018, 11:39

changed title from **Add switch to return data.table** to **Add switch to return data.table{+ from data loading functions+}**

[2021-11-30 16:43] jdpye commented on #42
In GitLab by @chrisholbrook on Mar 13, 2018, 11:40

Good idea; e.g., like `return_DT = TRUE` to data loading functions. See also #41, which will be addressed at same time as this #46.

[2021-11-30 16:43] jdpye commented on #42
In GitLab by @thayden on Mar 13, 2018, 11:53

I think the user should have the option to specify data.table or data.frame output for all functions that return a data.frame.  Perhaps default should be as described in #46 but switch provided to override.  Also, all functions should need to accept data.table as input.  "false_detections" throws error if fed a data.table.

[2021-11-30 16:43] jdpye commented on #42
In GitLab by @chrisholbrook on Sep 4, 2018, 16:00

Will be addressed with #41.

[2021-11-30 16:43] jdpye commented on #42
In GitLab by @chrisholbrook on Sep 4, 2018, 16:00

closed

[2021-11-30 16:43] #42 closed

[2021-11-30 16:43] jdpye opened #43 "Allow a specific number of preview frames in make_frames"
In GitLab by @chrisholbrook on Mar 14, 2018, 11:04

'preview' arg in make_frames() creates first frame by default but option to specify any number of preview frames and to optionally compile preview video would be helpful.

[2021-11-30 16:43] jdpye opened #44 "Subset detection data in read_glatos_detections for better speed and memory usage"
In GitLab by @chrisholbrook on Mar 16, 2018, 14:25

Add arguments to read_glatos_detections to allow only a subset of columns (by name), rows (by column-specific string matching), or both to be returned. For row subsetting, should indicate if returned rows should match any condition (default) or all conditions. Also should not apply glatos_detections class if columns required by package are not re

[2021-11-30 16:44] jdpye commented on #44
In GitLab by @chrisholbrook on Mar 16, 2018, 14:26

Work in progress by @thayden in 'select_columns' branch.

[2021-11-30 16:44] jdpye commented on #44
In GitLab by @chrisholbrook on Mar 16, 2018, 14:28

changed the description

[2021-11-30 16:44] jdpye opened #45 "check_dependencies not finding missing gdal dependency"
In GitLab by @thayden on Mar 22, 2018, 16:24

Check_dependencies does not notify user that gdal is not installed.  May be operating-specific problem?

[2021-11-30 16:44] jdpye commented on #45
In GitLab by @chrisholbrook on Feb 19, 2020, 21:54

issue could not be replicated

[2021-11-30 16:44] jdpye commented on #45
In GitLab by @chrisholbrook on Feb 19, 2020, 21:54

closed

[2021-11-30 16:44] #45 closed

[2021-11-30 16:44] jdpye opened #46 "Bug with background colors for plotting symbols in make_frames"
In GitLab by @MLowe on Mar 27, 2018, 13:37

If you assign a pch of 21-25, you are required to enter "col" for the outline color and "bg" for the background color.  This last argument creates a conflict with the sp::plot "bg" argument.  This results in  "Warning message:
In xy.coords(x, y, xlabel, ylabel, log) : NAs introduced by coercion."  It will make the frames but you will have no background m

[2021-11-30 16:44] jdpye opened #47 "Load functions use numerical indices instead of column names"
In GitLab by @anunes on Jun 7, 2018, 15:33

The load functions use numerical indices instead of column names to cast columns into dates or timestamps. This should change so that the order of the columns does not matter when getting passed into GLATOS.

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @anunes on Jun 8, 2018, 14:59

@chrisholbrook We found this bug while building out a workshop. It uses the schema index instead of the name to get the column types. When columns aren't in the right order it can throw warnings and some errors. I've made a change to the OTN reading function to accommodate this here: https://gitlab.oceantrack.org/GreatLakes/glatos/commit/9ac9d5a25144edde

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @chrisholbrook on Jun 8, 2018, 17:47

good catch. Your fix to read_otn_detections looks good and I applied similar fix to read_glatos_detections in the branch.

Still need to check out `read_glatos_receivers` and `read_glatos_workbook`.

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @chrisholbrook on Jun 11, 2018, 01:15

mentioned in merge request !8

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @chrisholbrook on Jun 11, 2018, 01:17

fix has been applied to `read_glatos_receivers` but not `read_glatos_workbook`. See https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/8

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @anunes on Jun 11, 2018, 08:52

Looks good @chrisholbrook, when we want to merge it there shouldn't be any conflicts as I branched directly from master.

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @chrisholbrook on Jun 12, 2018, 24:12

closed via merge request !8

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @chrisholbrook on Jun 12, 2018, 24:12

mentioned in commit ef01c0c75e12c27166ef35920c435593794ed628

[2021-11-30 16:44] jdpye commented on #47
In GitLab by @chrisholbrook on Jun 12, 2018, 24:21

mentioned in merge request !9

[2021-11-30 16:44] #47 closed

[2021-11-30 16:44] jdpye opened #48 "Allow user to specify range of bin_timestamp for interpolate_path"
In GitLab by @chrisholbrook on Jun 13, 2018, 24:53

`interpolate_path` assigns values of bin_timestamp by a sequence that starts with the first timestamp in the input data set. This has at least two issues:
1. Coverage of time intervals corresponding to each video frame are pretty much random (e.g., for 1-day interval size, will start and end at arbitrary time within each day; not at beginning of

[2021-11-30 16:44] jdpye commented on #48
In GitLab by @chrisholbrook on Jun 13, 2018, 24:53

made the issue visible to everyone

[2021-11-30 16:44] jdpye commented on #48
In GitLab by @thayden on Oct 19, 2018, 16:49

mentioned in commit 3386ec25ca0a1bd4428ecd40eabf581302fb2b66

[2021-11-30 16:44] jdpye commented on #48
In GitLab by @thayden on Oct 19, 2018, 16:59

mentioned in merge request !11

[2021-11-30 16:45] jdpye commented on #48
In GitLab by @chrisholbrook on Feb 28, 2019, 08:42

fixed in 0.3.1

[2021-11-30 16:45] jdpye commented on #48
In GitLab by @chrisholbrook on Feb 28, 2019, 08:42

closed

[2021-11-30 16:45] #48 closed

[2021-11-30 16:45] jdpye opened #49 "Detection Events creating NAs"
In GitLab by @Sbaker723 on Jun 21, 2018, 11:58

Recently I was re-running code for my detection project and one of the functions I use is detection_events.
Previously, I had no issue and the function and was able to convert 1.7m detects down to around a reasonable number of detection events. However, when running the code recently it now reduces the data down to 117,331 detects with 1.4m NA's. I'm

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @jdpye on Jun 21, 2018, 14:42

@anunes you wanna attempt to break detection_events in a similar way?

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @chrisholbrook on Jun 21, 2018, 14:51

@Sbaker723 What version of the r package are you using? I.e., what version shows when you `library(glatos)`?

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @Sbaker723 on Jun 21, 2018, 14:59

@chrisholbrook version 0.2.6 ('three-meat-pizza')

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @Sbaker723 on Jun 21, 2018, 15:14

@anunes @chrisholbrook from my limited knowledge, I think it has something to do with finding the min time stamp value. That's what creates the NA.

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @anunes on Jun 21, 2018, 15:19

@Sbaker723 When you pass the data into the function, what are your column names? Also do you set the `time_sep` value?

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @chrisholbrook on Jun 21, 2018, 15:28

@Sbaker723 I'm not able to produce a similar outcome on my end, but I think it's tough to replicate. Any chance you could upload a sample of your data here or email me if you'd rather - cholbrook@usgs.gov?

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @Sbaker723 on Jun 21, 2018, 15:28

@anunes detection_timestamp_utc    Receiver    Transmitter  animal_id Transmitter.Serial  Sensor.Value Sensor.Unit Station.Name deploy_lat deploy_long       datecollected Location min_lag

I don't set the time_sep value and use change of location instead.

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @anunes on Jun 21, 2018, 15:31

@Sbaker723 I wasn't able to replicate the error on 3m detections dataset. I would recommend setting the `time_sep` to at least `3600`, just to see if you get the same result. But I think @chrisholbrook is right in that we will need a sample in order to replicate.

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @Sbaker723 on Jun 21, 2018, 15:37

@anunes @chrisholbrook I just emailed you all a sample.

[2021-11-30 16:45] jdpye commented on #49
In GitLab by @chrisholbrook on Jun 21, 2018, 17:36

closed

[2021-11-30 16:45] #49 closed

[2021-11-30 16:45] jdpye opened #50 "Allow SpatialLinesDataFrame as input to make_transition"
In GitLab by @chrisholbrook on Sep 4, 2018, 16:26

Allow line features to be rasterized in make_transition. Allow multiple spatial objects to be input in a list.

[2021-11-30 16:45] jdpye commented on #50
In GitLab by @chrisholbrook on Sep 4, 2018, 16:31

changed the description

[2021-11-30 16:45] jdpye opened #51 "switching fasttime:: to lubridate and options(lubridate.fasttime=TRUE)"
In GitLab by @jdpye on Sep 11, 2018, 09:44

The author of fasttime has put the functionality of his package into lubridate. Lubridate's an easier dependency, so we ought to consider pushing things through lubridate instead of the standalone fasttime, for the sake of simpler package requirement sets.

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 11:02

I am pushing for this one because it's a giant pain in the ass to make, say, a mybinder.org notebook example to run through as a workshop when you have to include the more esoteric packages and you can't build them into the environment due to conflicts or other unforeseen issues. fasttime's got a problem currently in our mybinder.org buildout and it'd be

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @chrisholbrook on Sep 11, 2018, 11:06

a quick search for some relevant documentation is turning up nothing. can you point me to some documentation that describes the integration?

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 11:13

Learned about the port of fasttime functionality to lubridate here: https://stackoverflow.com/questions/10645815/why-are-lubridate-functions-so-slow-when-compared-with-as-posixct

fasttime was merged into lubridate here:
https://github.com/tidyverse/lubridate/pull/200

last fasttime release was in 2015 as per CRAN.

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 11:15

Alex has a branch going where he's tested the switched functions here:

https://gitlab.oceantrack.org/GreatLakes/glatos/tree/workshop

Commit diff w/ switch:
https://gitlab.oceantrack.org/GreatLakes/glatos/commit/2af8584a28f4fbcd378494d166a55a73eeb1a9eb

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @chrisholbrook on Sep 11, 2018, 11:19

great. is it ready for testing? have you benchmarked it?

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @chrisholbrook on Sep 11, 2018, 11:26

Curious, what's the problem with fasttime in your buildout? I'm on board with the change if it solves a problem for you and doesn't slow down data loading. Otherwise, lubridate is a heavier dependency than fasttime.

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 11:32

What do we mean by heavier?

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @chrisholbrook on Sep 11, 2018, 12:00

By heavier, I mean I would generally choose a single-function package that does what's needed over a package with >100 other functions that aren't needed; unless of course there are known issues with the simpler one.

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 12:16

The catalyst for the change is that when building a workshop, we were having trouble getting it to clean-install on a mybinder.org environment, and since its functionality was implemeneted in lubridate, and lubridate is mainstream enough that any environment troubles that affect it are quickly dealt with by any r kernel implementor, that's the fastest wa

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 14:06

Interestingly, according to this issue, lubridate can indeed be faster than fasttime for certain cases. A benchmark of this method would be a good idea. https://stackoverflow.com/questions/34563820/more-performant-use-of-fasttime/34668200#34668200

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @chrisholbrook on Sep 11, 2018, 14:15

Among four functions (3 from lubridate and 1 fasttime) I find lubridate to indeed be faster through 10M records...

![image](https://my-gitlab-bucket.s3.amazonaws.com/433448100/e25e501cc6bd3e678b28b9ccbae375c0.png)

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @chrisholbrook on Sep 11, 2018, 14:22

lubridate functions are more flexible than fasttime too.

It seems lubridate::fast_strptime with `lt = FALSE` may be a good candidate to replace fasttime::fastPOSIXct.

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Sep 11, 2018, 14:25

let the tire-kicking continue!

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Feb 28, 2019, 08:38

fixed in 0.3.1

[2021-11-30 16:46] jdpye commented on #51
In GitLab by @jdpye on Feb 28, 2019, 08:38

closed

[2021-11-30 16:46] #51 closed

[2021-11-30 16:46] jdpye opened #52 "false_detections fails if fed a data.table object"
In GitLab by @thayden on Sep 28, 2018, 14:29

False_detections function throws error if glatos detection object (det argument) is a data.table.  Function works fine if det is a data.frame.

[2021-11-30 16:46] jdpye commented on #52
In GitLab by @jdpye on Feb 28, 2019, 08:38

Fixed in 0.3.1

[2021-11-30 16:46] jdpye commented on #52
In GitLab by @jdpye on Feb 28, 2019, 08:38

closed

[2021-11-30 16:47] #52 closed

[2021-11-30 16:47] jdpye opened #53 "detection_events handles simultaneous detections at 2 receivers independently of preceding and succeeding detections"
In GitLab by @anunes on Nov 26, 2018, 11:12

Ran a comparison between resonATe and GLATOS for detections events/compression and I noticed a strange edge case that happens.

When an animal moves from one receiver to the next, and during this movement the receivers happen to see the animal at the same time, glatos::detection_events will pull out those detections a singular events. However, they shou

[2021-11-30 16:47] jdpye opened #54 "Check gitlab for updated package on attach"
In GitLab by @chrisholbrook on Feb 20, 2019, 14:23

Check for package updates when glatos is attached and query user, mentioned NEWS.

[2021-11-30 16:47] jdpye opened #55 "Velocity Filter"
In GitLab by @anunes on Feb 20, 2019, 14:46

Researchers, particularly Nigel Hussey's lab have contacted OTN about a velocity/swim speed filter in R. Logging the idea here so that it can be developed for a future release.

Preliminary method would be:
1. Group detections by individual
2. Calculate distance between detections
3. Calculate time between detections
4. Calculate velocity between detect

[2021-11-30 16:47] jdpye commented on #55
In GitLab by @anunes on Mar 28, 2019, 09:28

I've made a velocity filter function here: https://gitlab.oceantrack.org/GreatLakes/glatos/blob/feature-velocity_filter/R/filt-velocity_filter.r

@chrisholbrook @MLowe @thayden @trbinder Any testing and poking would be appreciated.

[2021-11-30 16:47] jdpye opened #56 "check_dependencies should look for ffmpeg local lib installation if not in system path"
In GitLab by @chrisholbrook on Feb 21, 2019, 15:59

check_dependencies currently only checks for ffmpeg in system path. It should also check in glatos pkg library (result of install_ffmpeg()). maybe via call to get_ffmpeg_path().

[2021-11-30 16:47] jdpye commented on #56
In GitLab by @chrisholbrook on Feb 21, 2019, 15:59

changed title from **check_dependencies should look for local lib installation if not in system path** to **check_dependencies should look for {+ffmpeg +}local lib installation if not in system path**

[2021-11-30 16:47] jdpye commented on #56
In GitLab by @chrisholbrook on Feb 19, 2020, 21:53

fixed in 0.4.1; closed with #95

[2021-11-30 16:47] jdpye commented on #56
In GitLab by @chrisholbrook on Feb 19, 2020, 21:53

closed

[2021-11-30 16:47] #56 closed

[2021-11-30 16:47] jdpye opened #57 "Tidy up out put of make_video"
In GitLab by @anunes on Feb 21, 2019, 16:10

The output of make_video should just output the file path of the video and not the big ugly string it does now.

[code]

Desired output:

[code]

[2021-11-30 16:47] jdpye commented on #57
In GitLab by @anunes on Feb 21, 2019, 16:11

changed the description

[2021-11-30 16:47] jdpye commented on #57
In GitLab by @chrisholbrook on Nov 12, 2019, 14:32

mentioned in commit 526d864beb9ac93e0914703955fba2335a7c680a

[2021-11-30 16:47] jdpye commented on #57
In GitLab by @chrisholbrook on Nov 12, 2019, 14:38

closed via merge request !18

[2021-11-30 16:47] jdpye commented on #57
In GitLab by @chrisholbrook on Nov 12, 2019, 14:38

closed via commit 526d864beb9ac93e0914703955fba2335a7c680a

[2021-11-30 16:47] #57 closed

[2021-11-30 16:47] jdpye opened #58 "Missing library gdalUtils"
In GitLab by @hthompson on Feb 22, 2019, 11:32

gdalUtils doesn't install with dev-glatos 0.3.0.9005, check_dependencies crashes when checking for gdalUtils

[2021-11-30 16:47] jdpye commented on #58
In GitLab by @chrisholbrook on Feb 22, 2019, 11:53

mentioned in commit 9f6f221e6889a3c6fdd676049a0a81890b84ddae

[2021-11-30 16:47] jdpye commented on #58
In GitLab by @chrisholbrook on Feb 22, 2019, 11:54

fixed in dev 0.3.0.9006

[2021-11-30 16:47] jdpye commented on #58
In GitLab by @chrisholbrook on Feb 22, 2019, 11:54

closed

[2021-11-30 16:47] #58 closed

[2021-11-30 16:48] jdpye opened #59 "Error in loadNamespac(name) : there is no package called 'geosphere'"
In GitLab by @MLowe on Feb 22, 2019, 23:02

Running the detection_bubble_plot function I received the above error message.  This may be computer specific as it seems to work on two other machines and I did not encounter this error when compiling the workshop book earlier today.  I did install the 'geosphere' package and re-run the code and it worked fine.  So you may want to make sure that it is i

[2021-11-30 16:48] jdpye commented on #59
In GitLab by @chrisholbrook on Feb 23, 2019, 17:04

mentioned in commit c88537f34e395e159fccdf08a550a1fdf594fcdf

[2021-11-30 16:48] jdpye commented on #59
In GitLab by @chrisholbrook on Feb 23, 2019, 17:05

fixed in dev with c88537f3

[2021-11-30 16:48] jdpye commented on #59
In GitLab by @chrisholbrook on Feb 23, 2019, 17:05

closed

[2021-11-30 16:48] #59 closed

[2021-11-30 16:48] jdpye opened #60 "detection_bubble_plot opens in Quartz"
In GitLab by @MLowe on Feb 23, 2019, 16:16

The plot for detection_bubble_plot opens in Quartz and not the R-studio plot window.  The code uses noRStudioGD = TRUE so can it be set to FALSE or is this related to a dependency?

[2021-11-30 16:48] jdpye opened #61 "Database is corrupt"
In GitLab by @MLowe on Feb 27, 2019, 12:09

Upon installing the latest push (i.e., master), I get the following message

lazy-load database '/Library/Frameworks/R.framework/Versions/3.5/Resources/library/glatos/help/glatos.rdb' is corrupt

Also, ffmpeg is not automatically installing.

This is on a mac.

[2021-11-30 16:48] jdpye commented on #61
In GitLab by @jdpye on Feb 27, 2019, 18:02

For the rdb error, Alex suggests a reinstall of the glatos package, suspecting that may clear the issue, he's seen that happen before. Windows people might be immune to it, though.

[2021-11-30 16:48] jdpye commented on #61
In GitLab by @jdpye on Feb 28, 2019, 08:45

There's now a function that auto-installs ffmpeg if you don't have it, when you go to use it the first time, as of 0.3.1

[2021-11-30 16:48] jdpye commented on #61
In GitLab by @jdpye on Feb 28, 2019, 08:45

closed

[2021-11-30 16:48] jdpye opened #62 "abacus plot w/ fish on Y axis, stations as color-codes"
In GitLab by @jdpye on Feb 28, 2019, 10:43

Request we received in the workshop for an abacus-style plot using fish/tagID as the Y axis values and having a color-coded station list.

Alex did this for a workshop back at the beginning of the year, the example is in here:

https://gitlab.oceantrack.org/otndc/acoustic-telemetry-analysis-workshop/blob/master/Part%20IV%20-%20Data%20Analysis.ipynb

[2021-11-30 16:48] jdpye commented on #62
In GitLab by @jdpye on Feb 28, 2019, 10:46

Alex got a version of this to go by using receiver serial number as the colorindex variable.

[2021-11-30 16:48] jdpye commented on #62
In GitLab by @jdpye on Feb 28, 2019, 10:48

changed the description

[2021-11-30 16:48] jdpye commented on #62
In GitLab by @jdpye on Mar 16, 2020, 15:20

assigned to @jdpye and unassigned @anunes

[2021-11-30 16:48] jdpye opened #63 "Error in summarize_detections documentation"
In GitLab by @trbinder on Feb 28, 2019, 14:23

Under details for summer_type: in "If summ_type = "animal" (default), the output summary includes the following for each unique value of animal_id:", "animal_id" should be "animal" (the argument that specifies the animal id column)

[2021-11-30 16:48] jdpye commented on #63
In GitLab by @nnate on Jul 9, 2019, 12:08

Additional issue related to the summarize_detection function - The "location" summaries appear to be based solely on glatos_array codes.  There are currently 417 unique glatos_array codes in use, 40 of which are used in more than one project.  So array codes alone do not approximate unique locations and calculated mean lat long by array_code would be off

[2021-11-30 16:48] jdpye commented on #63
In GitLab by @chrisholbrook on Nov 12, 2019, 14:34

The documentation is correct as written because `animal_id` is a required column if `summ_type = "animal"`.

[2021-11-30 16:48] jdpye commented on #63
In GitLab by @chrisholbrook on Nov 12, 2019, 14:34

closed

[2021-11-30 16:49] jdpye commented on #63
In GitLab by @nnate on Jun 11, 2020, 10:23

closed

[2021-11-30 16:49] #63 closed

[2021-11-30 16:49] jdpye opened #64 "Code chunk for fig 3 in detection_range_handout.Rmd is omitted from pfd, html"
In GitLab by @chrisholbrook on Feb 28, 2019, 14:55

Code chunk that creates the stacked detection probability plots is omitted from output file.
Error: missing object dist_rnd
See code chunk lines 530-558

[2021-11-30 16:49] jdpye commented on #64
In GitLab by @chrisholbrook on Nov 12, 2019, 14:13

fixed in 0.4.0

[2021-11-30 16:49] jdpye commented on #64
In GitLab by @chrisholbrook on Nov 12, 2019, 14:13

closed

[2021-11-30 16:49] jdpye commented on #64
In GitLab by @chrisholbrook on Nov 12, 2019, 14:32

mentioned in commit 1094b92751cde71672c34729de2af1cdffddcb84

[2021-11-30 16:49] jdpye opened #65 "library(sf) missing from detection_range_handout.Rmd"
In GitLab by @chrisholbrook on Feb 28, 2019, 15:06

library(sf) missing from detection_range_handout.Rmd

[2021-11-30 16:49] jdpye commented on #65
In GitLab by @chrisholbrook on Nov 12, 2019, 13:09

fixed in glatos 0.4.0

[2021-11-30 16:49] jdpye commented on #65
In GitLab by @chrisholbrook on Nov 12, 2019, 13:09

closed

[2021-11-30 16:49] jdpye commented on #65
In GitLab by @chrisholbrook on Nov 12, 2019, 14:32

mentioned in commit 1094b92751cde71672c34729de2af1cdffddcb84

[2021-11-30 16:49] #65 closed

[2021-11-30 16:49] jdpye opened #66 "Turn off progress bars"
In GitLab by @thayden on Mar 5, 2019, 12:47

Add switch to any function that includes progress bar to turn off.  Progress bars do not play nice with knitr.  Interpolate_path, make_frames, make_transition for sure need this option.

[2021-11-30 16:49] jdpye commented on #66
In GitLab by @chrisholbrook on Nov 7, 2019, 21:02

argument `show_progress` (default `= TRUE`) has been added to `interpolate_path` and `make_frames` in glatos v 0.4.0.
no change to `make_transition`, `make_transition2`, or `make_transition3` because those do not use progress bars.

[2021-11-30 16:49] jdpye commented on #66
In GitLab by @chrisholbrook on Nov 7, 2019, 21:05

mentioned in commit 29994e3b17b8a35dbd4457109e886567a7c2a5b9

[2021-11-30 16:49] jdpye commented on #66
In GitLab by @chrisholbrook on Nov 12, 2019, 14:38

closed via commit 29994e3b17b8a35dbd4457109e886567a7c2a5b9

[2021-11-30 16:49] jdpye commented on #66
In GitLab by @chrisholbrook on Nov 12, 2019, 14:38

closed via merge request !18

[2021-11-30 16:49] #66 closed

[2021-11-30 16:49] jdpye opened #67 "combine make_transition functions"
In GitLab by @thayden on Mar 5, 2019, 12:50

glatos contains three make_transition functions that should be unified into a single function.  Add switch to unified function that controls what method is used to calculate transition layer output.

[2021-11-30 16:49] jdpye opened #68 "add sf package support to functions that use sp objects"
In GitLab by @thayden on Mar 5, 2019, 13:02

Allow sf or sp spatial objects to be passed into simulation and animation functions.

[2021-11-30 16:50] jdpye opened #69 "Axis title error in example code for calc_collision_prob function"
In GitLab by @trbinder on Mar 15, 2019, 11:40

In the example for calc_collision_prob, a plot is created that shows the probability of detection vs. number of tags present. However, the Y-axis title currently says "Probability of collision".

[2021-11-30 16:50] jdpye commented on #69
In GitLab by @chrisholbrook on Nov 7, 2019, 20:21

mentioned in commit a2663688b67028c61f3bcdb8ea81c997a816710a

[2021-11-30 16:50] jdpye commented on #69
In GitLab by @chrisholbrook on Nov 7, 2019, 20:21

fixed in v 0.4.0

[2021-11-30 16:50] jdpye commented on #69
In GitLab by @chrisholbrook on Nov 7, 2019, 20:21

closed

[2021-11-30 16:50] #69 closed

[2021-11-30 16:50] jdpye opened #70 "Add ability to input multiple tag delays to calc_collision_prob function"
In GitLab by @trbinder on Mar 15, 2019, 12:35

It would be nice of the calc_collision_prob function allowed you to input multiple tags with different transmission delays. Currently you can only input a single tag delay.

[2021-11-30 16:50] jdpye opened #71 "Receivers missing from images and videos created by make_frames"
In GitLab by @chrisholbrook on Mar 22, 2019, 16:59

Some receivers near the end of the time series are not be included in frames (or video) produced by make_frames, even though they have valid deployment and recovery timestamps that span the time interval of the frames.

[2021-11-30 16:50] jdpye commented on #71
In GitLab by @chrisholbrook on Mar 22, 2019, 17:05

mentioned in commit 2bd91bc9cc15c7b9dcff14a22ea57b9dffabc379

[2021-11-30 16:50] jdpye commented on #71
In GitLab by @chrisholbrook on Mar 22, 2019, 17:07

fixed in dev 0.3.2

The issue occurred when *recs* were specified, some receiver records were missing recovery data, and no receiver-specific plot arguments were specified.

[2021-11-30 16:50] jdpye commented on #71
In GitLab by @chrisholbrook on Mar 22, 2019, 17:07

closed

[2021-11-30 16:50] #71 closed

[2021-11-30 16:50] jdpye opened #72 "Incorrect coordinate system for transmitter location columns trns_x and trns_y from detect_transmissions"
In GitLab by @chrisholbrook on Mar 25, 2019, 17:50

Output columns trns_x and trns_y are returned in the input EPSG CRS instead of the CRS of the input spatial object.

[2021-11-30 16:50] jdpye commented on #72
In GitLab by @chrisholbrook on Mar 25, 2019, 17:51

fixed in dev 0.3.2

[2021-11-30 16:50] jdpye commented on #72
In GitLab by @chrisholbrook on Mar 25, 2019, 17:51

closed

[2021-11-30 16:50] jdpye commented on #72
In GitLab by @chrisholbrook on Mar 25, 2019, 17:52

mentioned in commit b38508b75790245eb76d72474ba31fd87c383cf6

[2021-11-30 16:50] #72 closed

[2021-11-30 16:50] jdpye opened #73 "read_vemco_tag_specs not compatible with earlier versions of tag spec files"
In GitLab by @chrisholbrook on May 3, 2019, 10:29

`read_vemco_tag_specs` throws the following error when loading earlier versions (e.g., 2014 and earlier) of Vemco tag spec file.

[code]

Consider more informative message in these case, ability to load these earlier files, or both.

[2021-11-30 16:50] jdpye opened #74 "Timestamp data in optional columns read in as numeric when using read_glatos_workbook"
In GitLab by @trbinder on Jun 7, 2019, 16:47

When importing the glatos workbook into R using read_glatos_workbook timestamps in user-added optional columns are read in as numeric values. The function should look for timestamp data and convert to POSIXct automatically, or guidance should be provided in the documentation on how to make the conversions.

[2021-11-30 16:50] jdpye opened #75 "Output format for ATT / VTrack usage"
In GitLab by @jdpye on Jun 29, 2019, 13:15

A function to write the standard glatos data-frame into the ATT data structure (tags[], receivers[], detections[], coordsystem,  , see https://github.com/vinayudyawer/ATT ) as that is the basis for VTrack analyses to run. Transformation should be a matter of generating 3 datasets from standard GLATOS format, and adding columns for QC protocols not yet pe

[2021-11-30 16:50] jdpye commented on #75
In GitLab by @jdpye on Jun 29, 2019, 13:15

changed due date to July 31, 2019

[2021-11-30 16:50] jdpye commented on #75
In GitLab by @ryangosse on Jul 9, 2019, 11:11

Mapping from glatos to ATT.

ATT format is split in 3 parts: Tag.Detections (td), Tag.Metadata(tm), Station.Information(si).

I used walleye_detections from the glatos data loading vignette for these mappings

EDIT: Added columns from the receiver info obj that map to ATT format.

| ATT column | glatos column | Notes |
| ------ | ------ | ------ |
| T

[2021-11-30 16:51] jdpye commented on #75
In GitLab by @ryangosse on Jul 12, 2019, 09:34

assigned to @anunes and unassigned @jdpye

[2021-11-30 16:51] jdpye commented on #75
In GitLab by @ryangosse on Jul 12, 2019, 09:34

assigned to @ryangosse and unassigned @anunes

[2021-11-30 16:51] jdpye commented on #75
In GitLab by @ryangosse on Jul 17, 2019, 15:15

created merge request !19 to address this issue

[2021-11-30 16:51] jdpye commented on #75
In GitLab by @ryangosse on Jul 17, 2019, 15:15

mentioned in merge request !19

[2021-11-30 16:51] jdpye commented on #75
In GitLab by @chrisholbrook on Nov 12, 2019, 14:43

closed with
722d2ed5

[2021-11-30 16:51] jdpye commented on #75
In GitLab by @chrisholbrook on Nov 12, 2019, 14:43

closed

[2021-11-30 16:51] #75 closed

[2021-11-30 16:51] jdpye opened #76 "Add License file for glatos"
In GitLab by @ryangosse on Jul 9, 2019, 09:10

We should add a license file for GPL-2 to the repo.

[2021-11-30 16:51] jdpye commented on #76
In GitLab by @chrisholbrook on Nov 13, 2019, 17:19

mentioned in commit d9e3d9ec513063942f5793d9cfcd76539888ceb0

[2021-11-30 16:51] jdpye commented on #76
In GitLab by @chrisholbrook on Feb 18, 2020, 23:59

closed via commit d9e3d9ec513063942f5793d9cfcd76539888ceb0

[2021-11-30 16:51] #76 closed

[2021-11-30 16:51] jdpye opened #77 "Allow multi-column location definitions in summarize_detections"
In GitLab by @chrisholbrook on Nov 12, 2019, 15:52

From @nnate comment on issue #71 - The "location" summaries appear to be based solely on glatos_array codes. There are currently 417 unique glatos_array codes in use, 40 of which are used in more than one project. So array codes alone do not approximate unique locations and calculated mean lat long by array_code would be off for those 40 array_co

[2021-11-30 16:51] jdpye opened #78 "Add column name and format checks to glatos_detections and glatos_receivers"
In GitLab by @chrisholbrook on Nov 13, 2019, 11:09

Add column name and format checks to `glatos_detections` and `glatos_receivers` to help identify issues with custom data frames (non-GLATOS and non-OTN data).

[2021-11-30 16:51] jdpye opened #79 "panel.first and panel.last not working as optional plot argument in abacus_plot"
In GitLab by @chrisholbrook on Nov 13, 2019, 15:53

One should be able to add points, lines, etc. to abacus plots using plot arguments panel.first (e.g., plot behind the abacus points). For example:

[code]

This should plot a green horizontal but it does not. To make this work, need to wrap the panel.first expression in `quote()`; e.g.,
[code]
![image](https://my-gitlab-bucket.s3.amazonaws.com/43

[2021-11-30 16:51] jdpye commented on #79
In GitLab by @chrisholbrook on Nov 13, 2019, 16:04

changed the description

[2021-11-30 16:51] jdpye commented on #79
In GitLab by @chrisholbrook on Nov 13, 2019, 17:21

fixed in 0.4.1; d9e3d9e

[2021-11-30 16:51] jdpye commented on #79
In GitLab by @chrisholbrook on Feb 19, 2020, 21:50

closed

[2021-11-30 16:51] #79 closed

[2021-11-30 19:09] jdpye opened #80 "error in detectionEventFilter: could not find function ".""
In GitLab by @chrisholbrook on Mar 22, 2017, 12:19

library(glatos)
    data("walleye_detections") #example data
    head(walleye_detections)
    filt0 <- detectionEventFilter(walleye_detections) #no time filter

Error in as.quoted(.variables) : could not find function "."

[2021-11-30 19:09] jdpye commented on #80
In GitLab by @chrisholbrook on Mar 22, 2017, 12:19

reported by @trbinder

[2021-11-30 19:09] jdpye commented on #80
In GitLab by @chrisholbrook on Mar 22, 2017, 13:09

closed

[2021-11-30 19:09] jdpye commented on #80
In GitLab by @chrisholbrook on Mar 22, 2017, 13:09

false alarm.  previously fixed by commit cf580319effa44fa9501723c7992c4388966b7d7

[2021-11-30 19:09] #80 closed

[2021-11-30 19:09] jdpye opened #81 "Documentation issue"
In GitLab by @trbinder on Apr 28, 2017, 10:24

The link to "crwInPolygonR" function documentation is broken. It appears that somewhere along the line this function was renamed to "crwInPolygon".

[2021-11-30 19:10] jdpye commented on #81
In GitLab by @chrisholbrook on Jun 12, 2017, 15:13

closed via commit 870e22bcd2e3073015c1397504f3ea916afd4ff7

[2021-11-30 19:10] jdpye commented on #81
In GitLab by @chrisholbrook on Jun 12, 2017, 15:16

mentioned in commit 870e22bcd2e3073015c1397504f3ea916afd4ff7

[2021-11-30 19:10] jdpye opened #82 "Units for grid simulations"
In GitLab by @trbinder on Apr 28, 2017, 17:13

The units for the simulated data are not meters when the polygon data are supplied as lat lon WGS84 coordinates. It would be helpful if this was addressed, as users likely will want to supply arguments like step length and swimming velocity in meters rather than lat lon units.

[2021-11-30 19:10] jdpye commented on #82
In GitLab by @chrisholbrook on Feb 12, 2019, 02:21

mentioned in commit 9b7f2ef23d6645fb788e095184ed4bc05d9826a3

[2021-11-30 19:10] jdpye commented on #82
In GitLab by @chrisholbrook on Feb 12, 2019, 02:24

Fixed in 0.3.0. Simulation now done in EPSG 3175 (Great Lakes Basin) by default (which means units are meters) and user can specify EPSG for other areas. Input polygon can also be SpatialPolygons object and return object can also be spatial object.

[2021-11-30 19:10] jdpye commented on #82
In GitLab by @jdpye on Feb 28, 2019, 08:40

closed

[2021-11-30 19:10] #82 closed

[2021-11-30 19:10] jdpye opened #83 "Trailing points option for animatePaths"
In GitLab by @chrisholbrook on Jun 12, 2017, 13:58

Add options (1) to include previous or all points in animatePath output and (2) connect points with a line. Requested by GLATOS member.

[2021-11-30 19:10] jdpye commented on #83
In GitLab by @chrisholbrook on Jun 12, 2017, 14:09

mentioned in commit 7a75c962af4835d222008ab1263b11b9f2b45179

[2021-11-30 19:10] jdpye commented on #83
In GitLab by @chrisholbrook on Jun 12, 2017, 14:21

fixed in dev

[2021-11-30 19:10] jdpye commented on #83
In GitLab by @chrisholbrook on Feb 26, 2018, 14:35

added to make_frames() in glatos v0.2.3 (animatePath is defunct)

[2021-11-30 19:10] jdpye commented on #83
In GitLab by @chrisholbrook on Feb 26, 2018, 14:35

closed

[2021-11-30 19:10] #83 closed

[2021-11-30 19:10] jdpye opened #84 "Add OTN date type example to detectionEventFilter()"
In GitLab by @chrisholbrook on Sep 25, 2017, 16:35

Add OTN date type example to detectionEventFilter(). Depends on #17.

[2021-11-30 19:10] jdpye commented on #84
In GitLab by @chrisholbrook on Feb 26, 2018, 14:44

under the new pkg workflow, individual functions are looking for single data type. read_otn_detections will return a glatos_detections object, which can be passed to other functions in the package

[2021-11-30 19:10] jdpye commented on #84
In GitLab by @chrisholbrook on Feb 26, 2018, 14:44

closed

[2021-11-30 19:10] #84 closed

[2021-11-30 19:10] jdpye opened #85 "Use data.table instead of dplyr in detectionEventFilter()"
In GitLab by @chrisholbrook on Sep 25, 2017, 16:41

Speed of many calls to dplyr functions in detectionEventFilter() may be improved with data.table functions instead. Profile this change and edit where warranted.

[2021-11-30 19:10] jdpye commented on #85
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

data.table is used in detection_events() in v0.2.3

[2021-11-30 19:11] jdpye commented on #85
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

closed

[2021-11-30 19:11] #85 closed

[2021-11-30 19:11] jdpye opened #86 "Remove global variable ml from getMinLag()"
In GitLab by @chrisholbrook on Sep 25, 2017, 17:17

getMinLag() curently has a global variable assignment (`mL <<- {}`), which should be avoided to prevent side effects.

[2021-11-30 19:11] jdpye commented on #86
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

not an issue in min_lag (glatos v0.2.3)

[2021-11-30 19:11] jdpye commented on #86
In GitLab by @chrisholbrook on Feb 26, 2018, 14:45

closed

[2021-11-30 19:11] #86 closed

[2021-11-30 19:11] jdpye opened #87 "Use data.table instead of dplyr in getMinLag()"
In GitLab by @chrisholbrook on Sep 25, 2017, 17:20

Speed of many calls to dplyr functions in getMinLag() may be improved with data.table functions instead. Profile this change and edit where warranted. This will also likely simplify and reduce much of the code.

Also see what can be gleaned from min_Lag branch.

[2021-11-30 19:11] jdpye commented on #87
In GitLab by @chrisholbrook on Feb 26, 2018, 14:49

min_lag() in glatos v0.2.3 used data.table

[2021-11-30 19:11] jdpye commented on #87
In GitLab by @chrisholbrook on Feb 26, 2018, 14:49

closed

[2021-11-30 19:11] #87 closed

[2021-11-30 19:11] jdpye opened #88 "Add OTN date type example to getMinLag()"
In GitLab by @chrisholbrook on Sep 25, 2017, 18:00

Add OTN date type example to getMinLag(). Depends on #17.

[2021-11-30 19:11] jdpye commented on #88
In GitLab by @jdpye on Feb 28, 2019, 08:41

Works as of 0.3.1

[2021-11-30 19:11] jdpye commented on #88
In GitLab by @jdpye on Feb 28, 2019, 08:41

closed

[2021-11-30 19:11] #88 closed

[2021-11-30 19:11] jdpye opened #89 "Add OTN date type example to falseDetectionFilter()"
In GitLab by @chrisholbrook on Sep 25, 2017, 18:01

Add OTN date type example to falseDetectionFilter(). Depends on #17.

[2021-11-30 19:11] jdpye commented on #89
In GitLab by @chrisholbrook on Feb 26, 2018, 14:48

closed

[2021-11-30 19:11] jdpye opened #90 "Replace detectionBubblePlot() with make-table function (return site-frequencies) and plot demo"
In GitLab by @chrisholbrook on Sep 26, 2017, 11:35

detectionBubblePlot() currently does two things: (1) returns a data frame summarizing frequency of fish per location and (2) writes plots. Break these processes down into two functions; one for data summary and another for plot. For plot, make interactive by default (Rshiny and leaflet), with options for base plot, png, pdf, etc.

[2021-11-30 19:11] jdpye commented on #90
In GitLab by @chrisholbrook on Sep 27, 2017, 11:31

changed title from **Replace {-abacus-}Plot() with make-table function (return site-frequencies) and plot demo** to **Replace {+detectionBubble+}Plot() with make-table function (return site-frequencies) and plot demo**

[2021-11-30 19:11] jdpye commented on #90
In GitLab by @chrisholbrook on Feb 26, 2018, 14:47

detection_bubble_plot() (glatos v0.2.3) still makes the table, but it calls new function summarize_detections() to do this.

[2021-11-30 19:11] jdpye commented on #90
In GitLab by @chrisholbrook on Feb 26, 2018, 14:47

closed

[2021-11-30 19:12] #90 closed

[2021-11-30 19:12] jdpye opened #91 "Replace abacusPlot() with make-table function and plot demo"
In GitLab by @chrisholbrook on Sep 27, 2017, 11:33

abacusPlot() currently does two things: (1) creates a data frame summarizing history of each fish (but does not return this data frame) and (2) writes a plot. Break these processes down into two functions; one for data summary and another for plot. For plot, make interactive by default (Rshiny and leaflet), with options for base plot, png, pdf, e

[2021-11-30 19:12] jdpye commented on #91
In GitLab by @chrisholbrook on Feb 26, 2018, 14:50

for now we've decided to keep this functionality largely intact in abacus_plot() in glatos v0.2.3

[2021-11-30 19:12] jdpye commented on #91
In GitLab by @chrisholbrook on Feb 26, 2018, 14:50

closed

[2021-11-30 19:12] #91 closed

[2021-11-30 19:12] jdpye opened #92 "Use data.table instead of dplyr in velTest()"
In GitLab by @chrisholbrook on Oct 12, 2017, 16:35

Use data.table instead of dplyr in velTest() to improve speed.

[2021-11-30 19:12] jdpye commented on #92
In GitLab by @anunes on Oct 13, 2017, 11:12

@chrisholbrook I don't think we'll get any significant change out of this. data.table::shift runs about the same as dplyr::lead and dply::lag.

[2021-11-30 19:12] jdpye commented on #92
In GitLab by @chrisholbrook on Oct 13, 2017, 15:17

@anunes Good point, you are probably right. The function is pretty slow, but I haven't tried to identify the bottleneck. I'll profile before making any changes and report back here.

[2021-11-30 19:12] jdpye commented on #92
In GitLab by @anunes on Oct 13, 2017, 16:24

No need. I benchmarked each one below on a dataset of 1.8 million detections. There is a difference but it's so negligible, the bottleneck is definitely somewhere else.
[code]

[2021-11-30 19:12] jdpye opened #93 "Velocity calculation error in velTest()"
In GitLab by @chrisholbrook on Oct 12, 2017, 16:38

Velocity calculated in `velTest()` is incorrect, presumably because the following lines

line 143: `di <- apply(distances, 1, function(x) min(x, na.rm = TRUE))`

line 151: `mLag <- apply(d, 1, function(x) min(x, na.rm = TRUE)) #Min time before/after`

can result in distance (di) from lead and time (mLag) from lag or vice versa.

[2021-11-30 19:12] jdpye commented on #93
In GitLab by @chrisholbrook on Feb 26, 2018, 14:52

velTest() is a proposed new feature in testUpdate branch. This fix will need to be considered before merge.

[2021-11-30 19:12] jdpye opened #94 "Adopt Hadley Wickham's style as pkg standard"
In GitLab by @chrisholbrook on Oct 12, 2017, 16:43

Adopt Hadley Wickham's style, described [here](http://adv-r.had.co.nz/Style.html),  as pkg standard and

* [ ]  add brief description and link of standard to contribution guide

* [ ]  update existing code to standard (deprecate as needed)

[2021-11-30 19:12] jdpye opened #95 "make_frames error when arg 'tail_dur = Inf'"
In GitLab by @chrisholbrook on Feb 26, 2018, 14:40

According to ?make_frames, tail_dur = Inf will show all points from start, but this results in following errror:

[2021-11-30 19:12] jdpye opened #96 "Resolve conflicts with input arguments in abacus_plot (e.g., arg pch vs pch in ...)"
In GitLab by @chrisholbrook on Mar 1, 2018, 12:28

[2021-11-30 19:12] jdpye commented on #96
In GitLab by @chrisholbrook on Mar 8, 2018, 10:17

made the issue visible to everyone

[2021-11-30 19:12] jdpye commented on #96
In GitLab by @chrisholbrook on Mar 8, 2018, 10:22

Formal arguments `ylab` and `pch` in abacus_plot are also optional plot parameters that could be passed via `...`, raising potential for confusion and conflict.
Remove arguments ylab and pch and allow them to be specified via ...

[2021-11-30 19:12] jdpye commented on #96
In GitLab by @chrisholbrook on Mar 8, 2018, 10:22

assigned to @chrisholbrook

[2021-11-30 19:12] jdpye commented on #96
In GitLab by @chrisholbrook on Feb 8, 2019, 14:42

fixed by a9ea93a945f755e7fa7b19818d001e990ae320b0

[2021-11-30 19:12] jdpye commented on #96
In GitLab by @chrisholbrook on Feb 8, 2019, 14:58

mentioned in commit f42f4c220f82fd56a507c80233d1874926c64c19

[2021-11-30 19:12] jdpye commented on #96
In GitLab by @chrisholbrook on Feb 28, 2019, 08:44

closed

[2021-11-30 19:12] #96 closed

[2021-11-30 19:13] jdpye opened #97 "Allow 'dir' and 'output_dir' in make_video() to contain spaces"
In GitLab by @chrisholbrook on Mar 5, 2018, 16:26

`make_video()` will return "Running command FFMPEG ... had status 1" if either 'dir' and 'output_dir' arguments contain spaces.

[2021-11-30 19:13] jdpye commented on #97
In GitLab by @chrisholbrook on Mar 5, 2018, 17:45

closed via commit 022507b5badf88a784499fa1216349ff5b3f5b44

[2021-11-30 19:13] jdpye commented on #97
In GitLab by @chrisholbrook on Mar 5, 2018, 17:46

mentioned in commit 022507b5badf88a784499fa1216349ff5b3f5b44

[2021-11-30 19:13] #97 closed

[2021-11-30 19:13] jdpye opened #98 "Return data.table objects for functions when input is data.table"
In GitLab by @chrisholbrook on Mar 7, 2018, 13:47

All functions return data.frame by default, but should return data.table object if incoming is data.table. Also add a switch to override default (e.g., always return data.table or data.frame regardless of incoming object type). See #46.

[2021-11-30 19:13] jdpye commented on #98
In GitLab by @chrisholbrook on Sep 4, 2018, 16:00

changed the description

[2021-11-30 19:13] jdpye commented on #98
In GitLab by @chrisholbrook on Feb 28, 2019, 08:43

closed

[2021-11-30 19:13] #98 closed

[2021-11-30 19:13] jdpye opened #99 "Error when `trans` argument (interpolate_path()) is not a transition raster"
In GitLab by @chrisholbrook on Mar 7, 2018, 14:36

Add some error handling to create a more useful message when `trans` argument of `interpolate_path()` is not a transition raster.

E.g., current message if passed a list:

See #39

[2021-11-30 19:13] jdpye commented on #99
In GitLab by @chrisholbrook on Mar 7, 2018, 14:40

changed the description

[2021-11-30 19:13] jdpye commented on #99
In GitLab by @thayden on Mar 7, 2018, 17:13

mentioned in commit 2bc1f44785178067b5d984fd339296bb4e8a49fb

[2021-11-30 19:13] jdpye commented on #99
In GitLab by @thayden on Mar 14, 2018, 15:15

closed via commit 2bc1f44785178067b5d984fd339296bb4e8a49fb

[2021-11-30 19:13] #99 closed

[2021-11-30 19:13] jdpye opened #100 "Allow non-default coordinate systems in `bg_map` object passed to make_frames()"
In GitLab by @chrisholbrook on Mar 7, 2018, 14:39

make_frames() currently allows background to be specified via `bg_map` but requires that the bg_map object be projected in longlat WGS84. Add a check for that condition (with error message if not longlat WGS84) and attempt tranformation.

[2021-11-30 19:13] jdpye opened #101 "Error in adjust_playback_time() when `input` or `output_dir` contain spaces"
In GitLab by @chrisholbrook on Mar 7, 2018, 16:28

adjust_playback_time() produces the following error when spaces are present in either `input` or `output_dir`. Need to warp in double quotes when pass to ffmpeg.

[2021-11-30 19:13] jdpye commented on #101
In GitLab by @chrisholbrook on Mar 7, 2018, 16:28

see #39

[2021-11-30 19:13] jdpye commented on #101
In GitLab by @thayden on Mar 9, 2018, 11:24

mentioned in commit 5db3b94320ce4f2ef990f49769d5a0297475e6cf

[2021-11-30 19:13] jdpye commented on #101
In GitLab by @thayden on Mar 9, 2018, 11:29

mentioned in merge request !7

[2021-11-30 19:13] jdpye commented on #101
In GitLab by @thayden on Mar 14, 2018, 15:15

closed via commit 5db3b94320ce4f2ef990f49769d5a0297475e6cf

[2021-11-30 19:13] #101 closed

[2021-11-30 19:13] jdpye opened #102 ""Error: cannot allocate vector of size..." in make_frames() when 'col' arg is vector"
In GitLab by @chrisholbrook on Mar 14, 2018, 10:16

"Error: cannot allocate vector of size..." in make_frames() when 'col' arg is vector and input 'proc_obj' is relatively large. This is a bug.

[2021-11-30 19:14] jdpye commented on #102
In GitLab by @chrisholbrook on Mar 14, 2018, 10:40

closed via commit c9b41efe4fbf183c3e8572b3e4324294632d0da6

[2021-11-30 19:14] jdpye commented on #102
In GitLab by @chrisholbrook on Mar 14, 2018, 15:05

mentioned in commit c9b41efe4fbf183c3e8572b3e4324294632d0da6

[2021-11-30 19:14] #102 closed

[2021-11-30 19:14] jdpye opened #103 "Check for missing values in required fields"
In GitLab by @chrisholbrook on Jun 21, 2018, 17:52

See #44. All functions need to check for missing values in required fields and error/warn appropriately.

[2021-11-30 19:14] jdpye opened #104 "Change output file names in make_frames to yyyymmdd_hhmmss"
In GitLab by @chrisholbrook on Sep 4, 2018, 16:24

Change output file names to UTC timestamp rather than arbitrary frame number.

[2021-11-30 19:14] jdpye opened #105 "Abacus plot argument 'main' not recognized/used"
In GitLab by @jdpye on Feb 28, 2019, 11:20

the 'main' argument to abacus plot doesn't seem to be used to populate plot titles as the examples seem to intend.

[2021-11-30 19:14] jdpye commented on #105
In GitLab by @jdpye on Feb 28, 2019, 11:22

changed title from **Abacus plot argument {-no longer recognized.-}** to **Abacus plot argument {+'main' not recognized/used+}**

[2021-11-30 19:14] jdpye commented on #105
In GitLab by @jdpye on Feb 28, 2019, 11:22

changed the description

[2021-11-30 19:14] jdpye commented on #105
In GitLab by @chrisholbrook on Mar 21, 2019, 15:38

fixed in dev v 0.3.2

[2021-11-30 19:14] jdpye commented on #105
In GitLab by @chrisholbrook on Mar 21, 2019, 15:48

mentioned in commit d9d1e395b925afea0a7d3265999ae6032acf8e05

[2021-11-30 19:14] jdpye commented on #105
In GitLab by @chrisholbrook on Mar 21, 2019, 15:52

mentioned in merge request !18

[2021-11-30 19:14] #105 closed

[2021-11-30 19:14] jdpye opened #106 "Get Glatos into CRAN"
In GitLab by @ryangosse on Nov 28, 2019, 11:32

#84 required among other things

[2021-11-30 19:14] jdpye commented on #106
In GitLab by @ryangosse on Nov 28, 2019, 11:33

created merge request !21 to address this issue

[2021-11-30 19:14] jdpye commented on #106
In GitLab by @ryangosse on Nov 28, 2019, 11:33

mentioned in merge request !21

[2021-11-30 19:14] jdpye opened #107 "column names assignment error in position_heat_map when using data.table"
In GitLab by @trbinder on Dec 6, 2019, 15:42

See error message below. Error occurs when changing the names of columns LAT and LON in a data.table object to X and Y for use in the convUL function. Function works properly if you convert the data.table to a data.frame.

"convUL: For the UTM conversion, automatically detected zone 16.
convUL: Converting coordinates within the northern hemisphere.
Err

[2021-11-30 19:14] jdpye opened #108 "Create more generic way to convert otn data to ATT"
In GitLab by @ryangosse on Dec 10, 2019, 11:51

As it stands, we can only create ATT if the project's data is in the OTN ERDDAP server. As not many people's projects are in there, we should create a function that creates ATT from OTN metadata sheets.

[2021-11-30 19:14] jdpye commented on #108
In GitLab by @ryangosse on Dec 10, 2019, 11:52

created merge request !23 to address this issue

[2021-11-30 19:14] jdpye commented on #108
In GitLab by @ryangosse on Dec 10, 2019, 11:52

mentioned in merge request !23

[2021-11-30 19:15] jdpye opened #109 "kml_to_csv errors out if exported feature is not in a folder when kml is exported from Google Earth"
In GitLab by @trbinder on Dec 16, 2019, 15:57

The current function looks for a tag call "Folder" within the kml file to get the name of the feature layer in the kml. If a single feature is exported without a parent folder, the resulting kml does not have a "Folder" tag, and consequently an error is returned. I have revised the function to solve this issue (file attached). Changes occur on lines 2

[2021-11-30 19:15] jdpye opened #110 "position_heat_map - allow user to specify file name for kml and png files in the call"
In GitLab by @trbinder on Jan 3, 2020, 18:34

Feature request to make it possible that the file name for output files from position_heat_map function be specified by the user. This becomes important when the user wants to produce a series of results in a loop.

[2021-11-30 19:15] jdpye opened #111 "add ties argument in calls to approx to avoid regularize.values warning"
In GitLab by @chrisholbrook on Feb 10, 2020, 10:27

In calls to approx, if input contains ties, then `ties` argument needs to be specified. Otherwise, a warning

[2021-11-30 19:15] jdpye commented on #111
In GitLab by @chrisholbrook on Feb 19, 2020, 21:50

fixed in 0.4.1. added `ties = "ordered"` to approx calls in `interpolate_path`

[2021-11-30 19:15] jdpye commented on #111
In GitLab by @chrisholbrook on Feb 19, 2020, 21:50

closed

[2021-11-30 19:15] #111 closed

[2021-11-30 19:15] jdpye opened #112 "Documentation Error in summarize_detections"
In GitLab by @trbinder on Feb 11, 2020, 16:29

Under the value section where it describes the various outputs for different summ_type options,it lists all three types as (default).

[2021-11-30 19:15] jdpye commented on #112
In GitLab by @chrisholbrook on Feb 12, 2020, 17:18

mentioned in commit 014c507dcbaa9d814900915edf797aec992d0f87

[2021-11-30 19:15] jdpye commented on #112
In GitLab by @chrisholbrook on Feb 12, 2020, 17:19

fixed in 0.4.1

[2021-11-30 19:15] jdpye commented on #112
In GitLab by @chrisholbrook on Feb 18, 2020, 23:59

closed via commit 014c507dcbaa9d814900915edf797aec992d0f87

[2021-11-30 19:15] #112 closed

[2021-11-30 19:15] jdpye opened #113 "check_dependencies does not find ffmpeg installed in glatos package directory"
In GitLab by @chrisholbrook on Feb 12, 2020, 15:11

check_dependencies only checks for ffmpeg.exe via system call. This needs to also check in the installed glatos package directory; i.e. as a result of `install_ffmpeg`.

[2021-11-30 19:15] jdpye commented on #113
In GitLab by @chrisholbrook on Feb 12, 2020, 17:18

mentioned in commit 1d9e86ee35fcc52387c2f34369ba8a8ec2e2e943

[2021-11-30 19:15] jdpye commented on #113
In GitLab by @chrisholbrook on Feb 12, 2020, 17:18

fixed in 0.4.1

[2021-11-30 19:15] jdpye commented on #113
In GitLab by @chrisholbrook on Feb 18, 2020, 23:59

closed via commit 1d9e86ee35fcc52387c2f34369ba8a8ec2e2e943

[2021-11-30 19:15] #113 closed

[2021-11-30 19:15] jdpye opened #114 "position_heat_map - kmz output works on Mac but not on Windows"
In GitLab by @trbinder on Feb 20, 2020, 12:09

When output="kmz", the correct folder and output are created when running on mac, but on PC, the folder is created, but the folder is empty (i.e., no kmz). Possibly an issue with the zipping process, as the png file that goes into the kmz file is removed in the process?

[2021-11-30 19:15] jdpye commented on #114
In GitLab by @trbinder on Feb 20, 2020, 15:00

[vis-position_heat_map.r](/uploads/474d7a3e6d1fc779c34d2d15dec6644d/vis-position_heat_map.r)

Chris,

I've attached a script with the function fixed. The issue was utils::zip. Ended up using zip::zipr and that solved the issue.

[2021-11-30 19:15] jdpye commented on #114
In GitLab by @trbinder on Feb 20, 2020, 15:05

created merge request !24 to address this issue

[2021-11-30 19:15] jdpye commented on #114
In GitLab by @trbinder on Feb 20, 2020, 15:05

mentioned in merge request !24

[2021-11-30 19:15] jdpye opened #115 "allow glatos data to be pulled from data portal directly"
In GitLab by @chrisholbrook on Feb 27, 2020, 10:23

allow glatos members to download data from their workbook directly from GLATOSWeb data portal (their own account) into an R session and coerce to glatos class.

[2021-11-30 19:16] jdpye opened #116 "check validity of column names in detection_events"
In GitLab by @chrisholbrook on Feb 27, 2020, 12:16

Add check and err if an invalid column name is supplied to detection_events `location_col`.

[2021-11-30 19:16] jdpye opened #117 "interpolate_path lnl_thresh description in help details is incorrect"
In GitLab by @chrisholbrook on Feb 27, 2020, 13:24

Revise second paragraph of Details in ?interpolate_path. Description of lnl_thresh behavior is incorrect.

[2021-11-30 19:16] jdpye opened #118 "Does glatos::min_lag require ordered detections?"
In GitLab by @bdelo on Mar 12, 2020, 09:57

If so, should we be ordering them when the function gets called?

[2021-11-30 19:16] jdpye commented on #118
In GitLab by @chrisholbrook on Mar 12, 2020, 10:35

min_lag (1) sorts the input data by by transmitter_codespace, transmitter_id, receiver_sn, and detection_timestamp_utc (in that order); (2) computes min_lag separately for each combination of transmitter_codespace, transmitter_id, and receiver_sn (thus, sorted by detection_timestamp_utc in each group); and (3) restores original (input) order.

da

[2021-11-30 19:16] jdpye commented on #118
In GitLab by @chrisholbrook on Mar 12, 2020, 10:38

So there is no need to order detections when the function is called. This needs to be added to help("min_lag"). I will leave this issue open until that is done.

[2021-11-30 19:16] jdpye opened #119 "Allow polygons representing land in make_transition"
In GitLab by @chrisholbrook on Mar 12, 2020, 13:06

Add new input argument `invert` to invert returned values when input polygon represents land instead of water.

[2021-11-30 19:16] jdpye commented on #119
In GitLab by @chrisholbrook on Mar 12, 2020, 13:16

mentioned in commit 35cdcb77ec4f086613c3bc43dcccd59cc29f3fe4

[2021-11-30 19:16] jdpye commented on #119
In GitLab by @chrisholbrook on Mar 12, 2020, 13:17

fixed in 0.4.2; thanks @bdelo

[2021-11-30 19:16] #119 closed

[2021-11-30 19:16] jdpye opened #120 "read_otn_deployments asks for deploy_date and recovery_date instead of deploy_date_time and recover_date_time"
In GitLab by @jdpye on Mar 13, 2020, 11:19

Getting errors bringing in OTN deployment metadata sheets, the columns aren't named the way that the function expects them to be named.

Suggest we include a broader range of acceptable input for those columns, and a way of specifying them in an override argument.

[2021-11-30 19:16] jdpye commented on #120
In GitLab by @bdelo on Mar 16, 2020, 12:22

mentioned in merge request !26

[2021-11-30 19:16] jdpye opened #121 "Convert abacus_plot and bubble_plot functions to use ggplot to create basic, printable plots."
In GitLab by @jdpye on Mar 16, 2020, 15:31

Just as the title says, see if we can accomplish a default, printable (no overstyling by default!) ggplot2 wrapper functions that take our source data objects and returns each kind of plot as a plot object.

In this way, we can begin with this base plot and allow an end user to chain more commands and add more features.

[2021-11-30 19:16] jdpye opened #122 "Simplify GLATOS dependencies, especially plyr"
In GitLab by @jdpye on Mar 18, 2020, 09:50

Ran a dependency analysis with `pkgnet` and discovered a whole bunch of dependencies. Some of this can be mitigated by dropping `plyr` wherever we're using it, but while we have this opportunity we should see what other packages we are hanging this one on and whether we can cut that down.

| Version  | 0.4.1

[2021-11-30 19:16] jdpye opened #123 "position_heat_map breaks if positions is a data.table"
In GitLab by @trbinder on Mar 31, 2020, 12:31

Line 52: function removes columns X and Y from standard VEMCO positions files because these column names are used in another wrapped function. Function breaks if positions is a data.table. Need to edit the function to allow classes other than data.frame.

[2021-11-30 19:16] jdpye opened #124 "read_glatos_detections animal_id assignments are incorrect if incoming data contain a mix of populated and null animal_id"
In GitLab by @nnate on Apr 3, 2020, 17:26

In dtc$animal_id[anid_na] <- with(dtc, paste0(transmitter_codespace,  :
  number of items to replace is not a multiple of replacement length

Attempted to use read_glatos_detections on a file that contained tag detections from 5 projects combined.  Two of the 5 projects did not have animal_id's assigned.  Animal_id's created (as transmitter_codespace + tr

[2021-11-30 19:16] jdpye commented on #124
In GitLab by @chrisholbrook on Apr 6, 2020, 12:25

closed via commit 60dd760cc0c9a922295093389d54c34fb99e7aa2

[2021-11-30 19:16] jdpye commented on #124
In GitLab by @chrisholbrook on Apr 6, 2020, 12:30

mentioned in commit 60dd760cc0c9a922295093389d54c34fb99e7aa2

[2021-11-30 19:16] #124 closed

[2021-11-30 19:16] jdpye opened #125 "detection_events clobbers existing data.table keys"
In GitLab by @thayden on Jul 14, 2020, 13:16

detection_events clobbers any existing keys when input is a data.table.  Output from detection_events should keep data.table keys and indices.

[2021-11-30 19:16] jdpye opened #126 "Allow the read functions to use dataframes as input"
In GitLab by @ryangosse on Jul 14, 2020, 15:22

The functions `read_glatos_detections`, `read_otn_detections`, `read_glatos_receivers`, and `read_otn_deployments` should be able to take a dataframe/datatable/tibble as input. This wouldn't replace the current file path method, it'd just to give users another option when loading data into `glatos`.

[2021-11-30 19:16] jdpye opened #127 "Read in OTN's Matched to Other Trackers format"
In GitLab by @ryangosse on Jul 14, 2020, 15:33

Currently, when you use `read_otn_detections` with a "Matched to Other Trackers" detection extract, it fails because that file doesn't have all the required columns.

These columns can be derived from the columns already in the file. We should upgrade `read_otn_detections` to do this for the user. Commonname won't be able to be derived, we'll just pu

[2021-11-30 19:17] jdpye opened #128 "Unnecessary requirement to supply 'detection_timestamp_utc' column to 'detection_bubble_plot' function"
In GitLab by @trbinder on Jan 22, 2021, 13:35

Currently, the detection_bubble_plot function requires as input a 4-column data frame that include the column 'detection_timestamp_utc'. As far as I can tell, this variable is not used in any calculation, as the output is a spatial summary rather than a temporal summary.

[2021-11-30 19:17] jdpye opened #129 "Residency Index Constraints"
In GitLab by @morganpiczak on Jan 23, 2021, 18:07

Trying to calculate residency index per season (across 10 years of data and 40 seasons).

When using detection_events, if you choose False (to carry over extra data such as seasons), it does not produce the columns needed for residency index (i. e. first detection and last detection). So it would be good to be able to keep desired columns, while a

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @jdpye on Jan 25, 2021, 24:23

assigned to @ryangosse

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @jdpye on Jan 25, 2021, 24:30

I've been thinking about how to generalize this use case, to keep the function from having to take on many more assumptions, and I'm currently thinking I'd prefer seeing a user-defined subsetting strategy (i.e. using a groupby and group_walk calling the RI function) rather than handling the group/splitting logic inside the function.

Definitely could use

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @chrisholbrook on Jan 25, 2021, 08:16

I agree on both suggestions; current requirement of compressed detection_events input object could be relaxed. Perhaps treat existing function as a wrapper for exported lower-level residence_index that assumes input is a single group. The wrapper (existing residence_index) should easily be expanded to recognize uncompressed detection events and c

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @benjaminhlina on Feb 4, 2021, 15:59

Currently, due to this constraint it is easier to use `dplyr` to calculate residency (RI) and roaming indices (ROI) as you can use `group_by()` function to carry over any other meta data such as season, tagging location/basin location, receiver groupings ect. Something like a `group_by()` argument within this would be super helpful for the functio

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @chrisholbrook on Feb 4, 2021, 18:08

@benjaminhlina A value RI = 0 would result if a fish was never detected at a location, so I would interpret this as complete absence. It is possible that some of the methods would return a value zero if all visits to a site were masked by longer visits to another site during the same time interval (e.g., if binning by day and only using the most p

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @benjaminhlina on Feb 4, 2021, 21:33

@chrisholbrook okay, that makes sense so it be becomes a absence value similar to if I was solely looking at presence absence of a fish. The method you describe makes sense as well.

As far as the using `dplyr::group_by()` I currently don't combine `glatos::residence_index()` function and `dplyr::group_by()`, I solely use `dplyr` to do this as it

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @jdpye on Feb 4, 2021, 21:49

A snippet might be the right way to do it: https://gitlab.oceantrack.org/-/snippets/new

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @benjaminhlina on Feb 4, 2021, 22:00

@jdpye I like the idea but the link you you shared comes up with a 404 error. I did find the gitlab's info on [snippets](https://docs.gitlab.com/ee/user/snippets.html) but I'm not sure if I have the right permissions to create one as I can't seem to find make a new snippet.

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @chrisholbrook on Feb 5, 2021, 09:24

@benjaminhlina I am not familiar with snippets but will defer to @jdpye preference on this and for guidance to make it work. Whether a snippet or reprex, I do like the idea of posting your sample code here if it is related to the OP.

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @jdpye on Feb 5, 2021, 09:38

Didn't realize i'd restricted snippet-making, i'll try and fix that for you, i find they're second best to a pull request. Definitely good for posting a link in tickets.

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @benjaminhlina on Feb 5, 2021, 09:40

@jdpye Awesome, I'll wait for you to try to give me access. If not no worries and I'll post the reprex.

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @jdpye on Feb 5, 2021, 09:49

There we go, should work now. We disabled snippets for External users since it was a huge spam vector for bots advertising gambling sites. Switched you to Internal.

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @benjaminhlina on Feb 5, 2021, 11:16

@jdpye thanks for giving me permission. I've created [snippet 231](https://gitlab.oceantrack.org/-/snippets/231). Hope this helps and works for sharing the method I currently use.

[2021-11-30 19:17] jdpye commented on #129
In GitLab by @benjaminhlina on Mar 18, 2021, 18:57

I have added an amended comment to [snippet 231](https://gitlab.oceantrack.org/-/snippets/231) which uses the function `complete()` from `tidyr` to create `0` values for RI when a fish was not heard at all and considered absent.

[2021-11-30 19:17] jdpye opened #130 "Detection Efficiency Function"
In GitLab by @benjaminhlina on Feb 22, 2021, 15:04

Hi Chris and Jon,

I recently was going though some of my detection range data from this past year and realized I had a function built to be able to quickly use either a third order polynomial, probit, or logit model to calculate distance from a receiver per predicted detection efficiency e.g. distance at which a tag is heard 50 % of the time. Th

[2021-11-30 19:17] jdpye commented on #130
In GitLab by @benjaminhlina on Feb 22, 2021, 15:05

changed the description

[2021-11-30 19:17] jdpye commented on #130
In GitLab by @benjaminhlina on Feb 22, 2021, 15:05

changed the description

[2021-11-30 19:17] jdpye commented on #130
In GitLab by @chrisholbrook on Feb 23, 2021, 17:47

@benjaminhlina Functions to support detection range analysis have been proposed in the past, but haven't been added yet because of lack of standard inputs and consensus best practices. @thayden et al have taught a workshop on the topic (material available [here](https://gitlab.oceantrack.org/GreatLakes/glatos/-/raw/60dd760cc0c9a922295093389d54c34

[2021-11-30 19:17] jdpye commented on #130
In GitLab by @benjaminhlina on Feb 24, 2021, 12:06

@chrisholbrook Thanks for the link to the workshop which goes through things very well. I've made [snippet 232](https://gitlab.oceantrack.org/-/snippets/232) to share this with you. Please let me know what you think. Cheers

[2021-11-30 19:18] jdpye commented on #130
In GitLab by @chrisholbrook on Mar 2, 2021, 18:28

@benjaminhlina This would be a welcome new feature. If you are up for it, start a new feature branch off dev, add your function as a new file to /R,  example data to /data (or /inst/extdata and /data-raw to include a raw data file), and tests to /tests/testthat. A short vignette in /vignettes would also be helpful. Submit a merge request and we'll

[2021-11-30 19:18] jdpye commented on #130
In GitLab by @benjaminhlina on Mar 3, 2021, 10:12

@chrisholbrook Awesome, thanks sounds good to me. I'll start a new branch and work on this in the upcoming days.

[2021-11-30 19:18] jdpye commented on #130
In GitLab by @benjaminhlina on Mar 3, 2021, 14:45

@chrisholbrook I know functions, argument, and data naming conventions are as such ex. `walleye_detections`. Is there any particular name for the example preliminary range finding data that would be preferred? In the snippet I had the object named `total_de` for my own scripts, but that doesn't really make sense for the package. For the package wo

[2021-11-30 19:18] jdpye commented on #130
In GitLab by @chrisholbrook on Mar 3, 2021, 15:23

@benjaminhlina I'm not too concerned with length, but 'preliminary' might be misinterpreted, so consider 'sample_' or some other prefix that represents its purpose or source. Also, please document the data set in /R/data.r.

[2021-11-30 19:18] jdpye commented on #130
In GitLab by @benjaminhlina on Mar 3, 2021, 15:39

sounds good to me and will do.

[2021-11-30 19:18] jdpye commented on #130
In GitLab by @benjaminhlina on Mar 15, 2021, 23:56

@chrisholbrook I pushed last week the new function, dataset, tests, and manuals to the [branch](https://gitlab.oceantrack.org/GreatLakes/glatos/-/tree/detection_range_model) I started. I am still working on the vignette which I hope to have done by the end of this week. I'll then submit a merge request if things all look fine.

[2021-11-30 20:37] jdpye opened #131 "Feature for pairing data points with meteorological data"
In GitLab by @jdpye on Feb 25, 2021, 10:50

Some colleagues of ours at INBO have reached out looking for a home for a pretty neat function. They've got a workflow to pull meteorological data for any set of geospatial-temporal data points. It depends on the `worldmet` R package to pull global meteorological data from as far back as the 1900s.

They're looking to house it within a package for teleme

[2021-11-30 20:37] jdpye opened #132 "Create "observation" object by adding release and recapture records as new detections"
In GitLab by @thayden on Feb 25, 2021, 14:20

A function is needed that adds release and recapture timestamps records as new observations to the detection file.  Current workflow is to subset out release and recapture information from submission workbook for each fish and append these records to detections.  Function would automate this process.

[2021-11-30 20:37] jdpye opened #133 "Create detection histories for mark recapture models"
In GitLab by @chrisholbrook on Feb 26, 2021, 16:14

New feature request - functions to aid detection history creation for inputs to packages or software for mark-recapture software. Need to identify specific packages/software.

[2021-11-30 20:37] jdpye opened #134 "Add methods to coerce glatos data classes to spatial classes"
In GitLab by @chrisholbrook on Mar 31, 2021, 14:31

Add methods to coerce glatos objects (e.g., class glatos_detections) to spatial objects (sf, sp).

[2021-11-30 20:37] jdpye opened #135 "review Data Import from VUE CSV vignette"
In GitLab by @cbate on May 27, 2021, 15:27

https://gitlab.oceantrack.org/GreatLakes/glatos/-/blob/master/vignettes/data_loading_vignette.Rmd

`Other formats - CSV file exported from a VUE database` --> needs to be reviewed

[2021-11-30 20:37] jdpye commented on #135
In GitLab by @chrisholbrook on Jun 1, 2021, 15:51

assigned to @ryangosse

[2021-11-30 20:37] jdpye opened #136 "Installation fails with error 'Failed to install 'unknown package' from URL`"
In GitLab by @chrisholbrook on Jun 3, 2021, 09:17

Installation of glatos using remotes per instructions at https://gitlab.oceantrack.org/GreatLakes/glatos/-/wikis/installation-instructions fails with error "Failed to install 'unknown package' from URL". The url  https://gitlab.oceantrack.org/GreatLakes/glatos/repository/master/archive.zip appears to be dead (error 404).

This workaround seems to

[2021-11-30 20:37] jdpye commented on #136
In GitLab by @chrisholbrook on Jun 3, 2021, 09:18

changed the description

[2021-11-30 20:37] jdpye commented on #136
In GitLab by @jdpye on Jun 3, 2021, 09:33

Possibly we could fix this via a GitLab setting, surprising that the URL changed drastically as we ticked up the GitLab version.

[2021-11-30 20:37] jdpye commented on #136
In GitLab by @jdpye on Jun 3, 2021, 10:18

The initial reading i'm doing on this is not optimistic (GitLab refuses to guarantee any URL not pulled from their API), and there's no obvious setting to change to get our old url style back. Options presented to me:

- we change the link to the new version and probably get dinged by this again someday
- we set up a mirror page to refer to the latest goo

[2021-11-30 20:37] jdpye commented on #136
In GitLab by @ryangosse on Jun 3, 2021, 13:32

I am going to change the URL here and in our workshops. I think we should convert this over to GitHub, then we can use InstallGithub() which should be more bulletproof.

[2021-11-30 20:37] jdpye commented on #136
In GitLab by @chrisholbrook on Jun 3, 2021, 14:28

I support conversion to github. github + CRAN would be amazingly normal.

[2021-11-30 20:38] jdpye commented on #136
In GitLab by @jdpye on Jun 3, 2021, 16:16

Alright let's do that. w/r/t GitHub namespaces we could hold this under, do you want to use your personal, one of our personal's, or borrow OTNs org namespace?

[2021-11-30 20:38] jdpye opened #137 "vrl2csv fails to produce csv (without error) when paths contain spaces"
In GitLab by @chrisholbrook on Jun 5, 2021, 16:59

Quote path to vrl source files and csv output. Also, check that output files exist and error or warn if not.

[2021-11-30 20:38] jdpye opened #138 "Updating openxlsx to version 4.2.4 breaks read_glatos_workbook"
In GitLab by @trbinder on Aug 11, 2021, 18:20

Updated to newest glatos package (0.5.0) and everything worked fine, but a manual update of openxlsx from 4.2.3 to newest version (4.2.4) broke read_glatos_workbook. The error message was:

 Error: openxlsx can only read .xlsx files

Error was conformed on both windows and mac.

[2021-11-30 20:38] jdpye opened #139 "Broken code in position_heat_map(); solution suggested"
In GitLab by @DanielleQ on Nov 4, 2021, 10:54

Applying `position_heat_map(positions)` to `positions` data frame with no columns named `X` or `Y` returns the error

`Error in names(positions)[match(c("LON", "LAT"), names(positions))] <- c("X",  : NAs are not allowed in subscripted assignments`

I've dug into it and identified the problem, which occurs on line 217, [here](https://gitlab.oceantrack.

[2021-11-30 20:38] jdpye commented on #139
In GitLab by @DanielleQ on Nov 4, 2021, 10:55

changed the description

[2021-11-30 20:38] jdpye commented on #139
In GitLab by @DanielleQ on Nov 4, 2021, 10:56

changed the description

[2021-11-30 20:38] jdpye commented on #139
In GitLab by @DanielleQ on Nov 4, 2021, 10:56

changed the description

[2021-11-30 20:38] jdpye commented on #139
In GitLab by @chrisholbrook on Nov 9, 2021, 21:48

@DanielleQ This is now fixed in v.0.5.1. Thank you for clearly pointing to the issue and solution.
@trbinder

[2021-11-30 20:38] #139 closed

[2021-11-30 20:39] jdpye opened #140 "Revert "this shouldn't work" - [merged]"
In GitLab by @jdpye on Mar 2, 2017, 17:45

_Merges revert-257e4d35 -> master_

This reverts commit 257e4d35565ad9c677b53af76cff8713099a6a39, which should NOT have worked.

[2021-11-30 20:39] jdpye commented on #140
In GitLab by @jdpye on Mar 2, 2017, 17:45

merged

[2021-11-30 20:39] jdpye commented on #140
In GitLab by @jdpye on Mar 2, 2017, 17:45

mentioned in commit 8f97c76b60627be17d012ac41653fcdfdbb9ea92

[2021-11-30 20:39] #140 closed

[2021-11-30 20:39] jdpye opened #141 "Revert "Committing latest attempts for handoff." - [merged]"
In GitLab by @jdpye on Jun 28, 2017, 15:54

_Merges revert-33184803 -> filterfeature_

This reverts commit 33184803bfbbc08b9fe9b3038e11c246fe437769

Something very strange happened here. It didn't add my commit, rather it removed it. Blowing this one down for now.

[2021-11-30 20:39] jdpye commented on #141
In GitLab by @jdpye on Jun 28, 2017, 15:54

merged

[2021-11-30 20:39] jdpye commented on #141
In GitLab by @jdpye on Jun 28, 2017, 15:54

mentioned in commit be3b5159900fe3a0d42117d644aeb5eed699cbff

[2021-11-30 20:39] #141 closed

[2021-11-30 20:39] jdpye opened #142 "Test update - [closed]"
In GitLab by @diniangela on Aug 17, 2017, 09:04

_Merges testUpdate -> master_

Here is the work I have done so far with the GLATOS package.

[2021-11-30 20:39] jdpye commented on #142
In GitLab by @diniangela on Aug 17, 2017, 09:05

closed

[2021-11-30 20:39] jdpye commented on #142
In GitLab by @diniangela on Aug 17, 2017, 09:05

reopened

[2021-11-30 20:39] jdpye commented on #142
In GitLab by @jdpye on Aug 17, 2017, 10:43

closed

[2021-11-30 20:39] #142 closed

[2021-11-30 20:40] jdpye opened #144 "Workshop version - [merged]"
In GitLab by @chrisholbrook on Feb 23, 2018, 15:36

_Merges workshop-version -> dev_

New version incompatible with existing master. New data loading functions, formal tests (a few for now), more raw data, and sweeping changes to conform to style guide (e.g., snake-case function names).

[2021-11-30 20:40] jdpye commented on #144
In GitLab by @chrisholbrook on Feb 23, 2018, 21:09

merged

[2021-11-30 20:40] #144 closed

[2021-11-30 20:40] jdpye opened #145 "Check dependencies - [merged]"
In GitLab by @thayden on Mar 9, 2018, 11:29

_Merges check_dependencies -> dev_

Check dependencies function added and ready to be merged with master (#40).  Also fixed #45 (adjust_playback_time).

[2021-11-30 20:40] jdpye commented on #145
In GitLab by @chrisholbrook on Mar 14, 2018, 15:05

added 11 commits

* c9b41efe - 1 commit from branch `master`
* 6a8c4a77 - Merge branch &#x27;master&#x27; into dev
* e1aef3c3 - update news
* 183336ce - Merge branch &#x27;dev&#x27; into check_dependencies
* b6f1542d - add unit tests for adjust_playback_time
* aa6c369a - small format changes
* dd2d27d6 - update news&#x27;
* b8a92da7 - add unit te

[2021-11-30 20:40] jdpye commented on #145
In GitLab by @chrisholbrook on Mar 14, 2018, 15:07

changed target branch from `master` to `dev`

[2021-11-30 20:40] jdpye commented on #145
In GitLab by @chrisholbrook on Mar 14, 2018, 15:07

merged

[2021-11-30 20:40] jdpye commented on #145
In GitLab by @chrisholbrook on Mar 14, 2018, 15:07

mentioned in commit 5d9a920e806964f67dc6ceba9bf812416705a7e6

[2021-11-30 20:40] #145 closed

[2021-11-30 20:40] jdpye opened #146 "Hotfix data loading - [merged]"
In GitLab by @chrisholbrook on Jun 11, 2018, 01:15

_Merges hotfix-data-loading -> master_

Fixes #52. `read_otn_detections`, `read_glatos_detection`, and `read_glatos_receivers` can now read from files with column names matching spec, without requiring same column order as spec.

[2021-11-30 20:40] jdpye commented on #146
In GitLab by @chrisholbrook on Jun 12, 2018, 24:07

added 1 commit

<ul><li>206d3d56 - version up</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/8/diffs?diff_id=269&start_sha=42faaa6df08d11d91bfc1ac12267035ebdadbad2)

[2021-11-30 20:40] jdpye commented on #146
In GitLab by @chrisholbrook on Jun 12, 2018, 24:11

changed target branch from `dev` to `master`

[2021-11-30 20:40] jdpye commented on #146
In GitLab by @chrisholbrook on Jun 12, 2018, 24:12

merged

[2021-11-30 20:40] jdpye commented on #146
In GitLab by @chrisholbrook on Jun 12, 2018, 24:12

mentioned in commit ef01c0c75e12c27166ef35920c435593794ed628

[2021-11-30 20:40] #146 closed

[2021-11-30 20:40] jdpye opened #147 "Merging REI into the public repo on a new feature branch - [merged]"
In GitLab by @anunes on Oct 10, 2018, 14:02

_Merges master -> feature-REI_

[2021-11-30 20:40] jdpye commented on #147
In GitLab by @anunes on Oct 10, 2018, 14:03

added 7 commits

<ul><li>d488d25c...a2bcd668 - 6 commits from branch <code>GreatLakes:feature-REI</code></li><li>ea644ef8 - Merge branch &#39;feature-REI&#39; into &#39;master&#39;</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/10/diffs?diff_id=330&start_sha=d488d25cfdc5aaff35b2c808535bdaeec2e1d

[2021-11-30 20:40] jdpye commented on #147
In GitLab by @anunes on Oct 10, 2018, 14:03

merged

[2021-11-30 20:40] jdpye commented on #147
In GitLab by @anunes on Oct 10, 2018, 14:03

mentioned in commit df4cf4960ad06efc435a678129b7730c6b984538

[2021-11-30 20:40] #147 closed

[2021-11-30 20:40] jdpye opened #148 "Install ffmpeg - [merged]"
In GitLab by @thayden on Oct 19, 2018, 16:59

_Merges install_ffmpeg -> dev_

The "install_ffmpeg" function automatically downloads and installs ffmpeg to your computer.  This function is ready to be tested on other operating systems.  Added "land" and "water" arguments to make transition and make_transition2 functions to allow user to specify values for water and land in the transition layer.  Us

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Oct 26, 2018, 11:27

added 2 commits

<ul><li>daf41a7a - fixed bugs with new start_time field</li><li>51d8311d - added error handling to interpolate_path, added switch to enable data.table…</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=344&start_sha=3386ec25ca0a1bd4428ecd40eabf581302fb2b66)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Nov 1, 2018, 13:07

added 1 commit

<ul><li>ec868936 - changed land and water specs</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=347&start_sha=51d8311d6de5803e0c257a4891906f28aa47dd67)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Nov 14, 2018, 15:14

added 4 commits

<ul><li>24257611 - not sure what has changed in this version</li><li>5f2eb71a - added buffered points to receivers on land</li><li>f14b0100 - cleanup of code</li><li>7674bd0f - cleanup</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=370&start_sha=ec8689369c38650

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Dec 6, 2018, 13:33

added 2 commits

<ul><li>7a2f12ca - code clean up and fixed a couple clunky sections of code</li><li>82ba56d6 - revised make_transition2 to use fasterize for rasterizing</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=388&start_sha=7674bd0fe5847da81be34607f4cfaf73fb68d83b)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Feb 8, 2019, 16:57

added 1 commit

<ul><li>9ccba87b - added gganimate vignette.  Needs a good proofreading before finalized</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=420&start_sha=82ba56d6fbbfea4866c59e13f0e45415047f2539)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Feb 12, 2019, 18:03

added 1 commit

<ul><li>a50334ab - finished make_transition3, reset make_transition and make_transition2 to…</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=422&start_sha=9ccba87b5b7b07e4eb762a987ced4a0fefc4c3ad)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Feb 15, 2019, 17:33

added 2 commits

<ul><li>a6fe8a5f - fixed make_transition, completed revised gganimate vignette</li><li>1b9d8d81 - revised and cleaned up gganimate vignette.  Ready to be included in final package for review.</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=435&start_sha=a50334ab

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Feb 20, 2019, 15:22

added 1 commit

<ul><li>65d6dbcc - added documentation and example to function</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=436&start_sha=1b9d8d81e3caf24d6c98d0f70c1bbb16af2b9cdc)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 20, 2019, 16:37

added 1 commit

<ul><li>79f6eade - fix upinstall ffmpeg</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=437&start_sha=65d6dbccfa6df1605b720b687f11e5a3b8d5c8c1)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 20, 2019, 17:08

added 1 commit

<ul><li>2ea031dc - allow ffmpeg calls to find ffmpeg.exe in user lib glatos</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=438&start_sha=79f6eade294ab016ff5de349f7777395f869296c)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 20, 2019, 22:55

@thayden should avoid naming arguments after other functions, objects, etc. To make this more general, how about we call it `out_class = "data.frame"` to provide additional flexibility (e.g., "data.table", "tibble")? Could also default this to NULL which would match input object--that's how detection_events and other summary functions are now wor

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Feb 21, 2019, 12:05

changed this line in [version 12 of the diff](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=439&start_sha=2ea031dcc715fa364fa46b70ed134de4990a56f7#bb4107b4c33d542ed6bf590526cee8d82a00fa53_184_183)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @thayden on Feb 21, 2019, 12:05

added 1 commit

<ul><li>c8f5bf22 - added option to output interpolate_path results as tibble, data.frame, or data.table</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=439&start_sha=2ea031dcc715fa364fa46b70ed134de4990a56f7)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 21, 2019, 12:07

added 2 commits

<ul><li>6f52ea49 - allow install_ffmpeg local on mac</li><li>0b513fe3 - Merge branch &#39;install_ffmpeg&#39; of gitlab.oceantrack.org:GreatLakes/glatos into install_ffmpeg</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=440&start_sha=c8f5bf2246bec097f4b53

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 21, 2019, 13:04

added 1 commit

<ul><li>4d9a2d7b - make ffmpeg executable on mac</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=441&start_sha=0b513fe3249d6b0e7044159628ca0a844cbbae3e)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 21, 2019, 13:21

added 1 commit

<ul><li>61018841 - fix if os == osx</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=442&start_sha=4d9a2d7b3ec6947e2e8369370950f2c4181e8a9e)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 21, 2019, 15:18

added 1 commit

<ul><li>33785ac1 - fix not recognizing ffmpeg in system path</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/11/diffs?diff_id=443&start_sha=610188414fa4ec88832f2a4b1feaa193a658969d)

[2021-11-30 20:41] jdpye commented on #148
In GitLab by @chrisholbrook on Feb 22, 2019, 09:01

merged

[2021-11-30 20:41] #148 closed

[2021-11-30 20:41] jdpye opened #149 "Position heat map edits - [closed]"
In GitLab by @trbinder on Oct 23, 2018, 10:42

_Merges position_heat_map_edits -> dev_

Corrected the accuracy issues by converting LL to UTM. Also simplified the output so that only a single output type occurs in a given call. Changed output to kmz instead of kml. New folder is only created when output is png or kmz.

[2021-11-30 20:41] jdpye commented on #149
In GitLab by @chrisholbrook on Feb 8, 2019, 16:18

closed

[2021-11-30 20:42] #149 closed

[2021-11-30 20:42] jdpye opened #150 "Detection events - changed column name - [closed]"
In GitLab by @trbinder on Oct 23, 2018, 11:34

_Merges detection_events -> zero-three-candidate_

Corrected output column name from individual to animal_id

[2021-11-30 20:42] jdpye commented on #150
In GitLab by @chrisholbrook on Feb 8, 2019, 15:01

changed target branch from `dev` to `zero-three-candidate`

[2021-11-30 20:42] jdpye commented on #150
In GitLab by @chrisholbrook on Feb 8, 2019, 15:26

closed

[2021-11-30 20:42] #150 closed

[2021-11-30 20:42] jdpye opened #151 "Feature rei - [merged]"
In GitLab by @anunes on Oct 24, 2018, 11:40

_Merges feature-REI -> dev_

This Merge includes both the REI, RI, and a function to read in OTN deployments

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Oct 24, 2018, 14:50

added 7 commits

<ul><li>2af8584a - Dropped fasttime as a depenedency and uses lubridates fasttime implementation instead</li><li>568cd51e - Removed certain dependencies for install</li><li>e063d380 - Minor teak to lubridat parse function</li><li>0b5f095f - Changed read_otn_detections to only need essential columns</li><li>42f3f81c - Modified sysdata</l

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Oct 24, 2018, 15:04

changed target branch from `master` to `dev`

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Oct 31, 2018, 09:44

added 1 commit

<ul><li>287e82aa - Update sysdata detection schema for OTN</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/15/diffs?diff_id=345&start_sha=8b699793e775359a67c58a65e10f6b38defc82b4)

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Dec 11, 2018, 15:51

added 1 commit

<ul><li>05a8f770 - Changed parsing to include deloy_date string check</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/15/diffs?diff_id=394&start_sha=287e82aa5bbc4a96020c5101065de2b5aed8e06e)

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Jan 21, 2019, 13:12

added 1 commit

<ul><li>b4cff59b - Minor changes to data file on hfx dets</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/15/diffs?diff_id=412&start_sha=05a8f7703938d53d740f655bb878b8ecebf39098)

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Jan 21, 2019, 13:39

added 1 commit

<ul><li>28380e9b - Fixed small issue causing NA in REI</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/15/diffs?diff_id=413&start_sha=b4cff59b2afa383e66a9da8dc046df45e5b7a1eb)

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Feb 8, 2019, 11:16

added 1 commit

<ul><li>6ed3f83b - Fixed issues with RI and REI docs and tests</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/15/diffs?diff_id=417&start_sha=28380e9b9511b8504ff5e073667346717c2a82c6)

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @chrisholbrook on Feb 8, 2019, 17:22

added 1 commit

<ul><li>2b5b6780 - update doc</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/15/diffs?diff_id=421&start_sha=6ed3f83bd4131b06ad5ceabc3d487bee578212ce)

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @chrisholbrook on Feb 8, 2019, 17:56

how important is this? Do we need to add this to the software list for the workshop?

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @anunes on Feb 11, 2019, 10:05

No, if this is a major conflict, we can add it after. This can be distributed as PDFs separately.

[2021-11-30 20:42] jdpye commented on #151
In GitLab by @chrisholbrook on Feb 22, 2019, 09:01

merged

[2021-11-30 20:42] #151 closed

[2021-11-30 20:42] jdpye opened #152 "Workshop - [merged]"
In GitLab by @anunes on Oct 24, 2018, 13:06

_Merges workshop -> feature-REI_

Add fasttime fix to feature-REI

[2021-11-30 20:42] jdpye commented on #152
In GitLab by @anunes on Oct 24, 2018, 13:06

closed

[2021-11-30 20:43] jdpye commented on #152
In GitLab by @anunes on Oct 24, 2018, 13:09

reopened

[2021-11-30 20:43] jdpye commented on #152
In GitLab by @anunes on Oct 24, 2018, 14:50

merged

[2021-11-30 20:43] #152 closed

[2021-11-30 20:43] jdpye opened #153 "Resolve "Output format for ATT / VTrack usage" - [closed]"
In GitLab by @ryangosse on Jul 17, 2019, 15:15

_Merges 83-output-format-for-att-vtrack-usage -> master_

Closes #83

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Jul 17, 2019, 15:18

added 1 commit

<ul><li>6f455c3e - Added function to convert glatos object to ATT object for VTrack</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/19/diffs?diff_id=557&start_sha=315dafebac61b3c2fdde59179c337b97a9d00d5a)

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Jul 17, 2019, 15:18

assigned to @ryangosse

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Jul 18, 2019, 10:24

added 2 commits

<ul><li>e58690a5 - Added documentation to the glatos_to_att function and cleaned up some unused parts of that file</li><li>d0eb6bf8 - Added .rd files for glatos_to_att and modified Readme to explain the new function</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/19/diffs?diff

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Aug 8, 2019, 09:29

added 1 commit

<ul><li>ed63656d - Added function for converting OTN detections to the ATT format. Also cleaned...</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/19/diffs?diff_id=598&start_sha=d0eb6bf813f6756c5ef4323ccd14abf6c726610a)

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Aug 8, 2019, 09:32

Seems to all be in order. 2 functions have been added: one for GLATOS detections and one for OTN detections with help from the OTN ERDDAP. The output from both seems to work with the functions provided in the ATT package. Handing off to Jon now for approval.

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Aug 8, 2019, 09:32

unmarked as a **Work In Progress**

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Aug 8, 2019, 09:32

assigned to @jdpye and unassigned @ryangosse

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Aug 8, 2019, 10:08

added 1 commit

<ul><li>a535c03c - Added namespaces to functions in the ATT conversion functions</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/19/diffs?diff_id=601&start_sha=ed63656db37c6247e661bd292492163cdf9b55bd)

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @jdpye on Sep 13, 2019, 16:09

Mitch Rider is attempting to use this branch now, so we have a real-world test cast out there.

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @jdpye on Sep 13, 2019, 16:10

assigned to @chrisholbrook and unassigned @jdpye

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @jdpye on Sep 13, 2019, 16:10

Gonna leave this with Holbrook for a minute because the next step is to get his review notes on this MR.

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @jdpye on Oct 4, 2019, 17:13

Hoping to use this in a workshop I'm gonna write later in October if it's functional. @chrisholbrook lemme know if you want me to kick tires more thoroughly.

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @chrisholbrook on Oct 4, 2019, 17:15

I will add the OTN sample data files and complete review next week.

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @chrisholbrook on Oct 11, 2019, 17:14

added 12 commits

<ul><li>6e826133 - change example object name to ATTdata to match VTrack examples</li><li>87fcc22b - formatting cleanup</li><li>d8373656 - change input arg glatosObj to detectionObs to improve specificity</li><li>f48a47bb - add test for convert_glatos_to_att output and add example walleye att internal...</li><li>41277955 - tweak

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @chrisholbrook on Oct 11, 2019, 17:29

@ryangosse @jdpye Please review and approve the changes I made today and I will close. My preference is to merge to dev then release to master because dev is also head of master. I will update NEWS and pkg help at that time to reflect changes in this MR.

Summary of changes I've made:
1. added otn_aat_animals.csv, otn_aat_receivers.csv, and otn_a

[2021-11-30 20:43] jdpye commented on #153
In GitLab by @ryangosse on Nov 4, 2019, 09:39

@chrisholbrook @jdpye Just read through the commits, seems good to me. Let's pull the trigger! Going to finish up the cran submission, get this thing out in the real world. Going to use master for that one.

[2021-11-30 20:44] jdpye commented on #153
In GitLab by @chrisholbrook on Nov 7, 2019, 20:05

changes were merged with dev 722d2ed; will be included in release v. 0.4.0

[2021-11-30 20:44] jdpye commented on #153
In GitLab by @chrisholbrook on Nov 7, 2019, 20:05

closed

[2021-11-30 20:44] #153 closed

[2021-11-30 20:44] jdpye opened #154 "Updated convert_otn_erddap_to_att to take timezones into account, update the... - [merged]"
In GitLab by @ryangosse on Nov 18, 2019, 10:27

_Merges convert_otn_erddap_otn_erddap_to_att_hotfix -> nov2020-otn-features_

Updated convert_otn_erddap_to_att to take timezones into account, update the internal data with updated function.

[2021-11-30 20:44] jdpye commented on #154
In GitLab by @ryangosse on Nov 25, 2020, 14:44

changed target branch from `master` to `nov2020-otn-features`

[2021-11-30 20:44] jdpye commented on #154
In GitLab by @ryangosse on Nov 26, 2020, 13:36

merged

[2021-11-30 20:44] #154 closed

[2021-11-30 21:57] jdpye opened #156 "hotfix #52 (master to dev) - [closed]"
In GitLab by @chrisholbrook on Jun 12, 2018, 24:21

_Merges master -> dev_

[2021-11-30 21:57] jdpye commented on #156
In GitLab by @chrisholbrook on Jun 12, 2018, 24:22

added 2 commits

<ul><li>acfaa915 - 1 commit from branch <code>dev</code></li><li>0bffbeb7 - Merge branch &#39;dev&#39; into &#39;master&#39;</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/9/diffs?diff_id=272&start_sha=ef01c0c75e12c27166ef35920c435593794ed628)

[2021-11-30 21:57] jdpye commented on #156
In GitLab by @chrisholbrook on Jun 12, 2018, 24:29

closed

[2021-11-30 21:57] #156 closed

[2021-11-30 21:57] jdpye opened #157 "Dev - [merged]"
In GitLab by @chrisholbrook on Mar 21, 2019, 15:52

_Merges dev -> master_

Changes:
1. fixed missing abacus_plot title (issue #70; main argument not used). Also allowed title color and size to be set via cex.main and col.main arguments.
2. deprecated show_receiver_status argument because this was not needed. Receiver status will now be included if receiver_history is given and omitted otherwise.

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Mar 22, 2019, 17:05

added 1 commit

<ul><li>2bd91bc9 - hotfix bug where some receivers missing near end of images and resulting vidoes…</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=452&start_sha=d9d1e395b925afea0a7d3265999ae6032acf8e05)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Mar 22, 2019, 17:08

changed the description

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Mar 25, 2019, 17:52

added 1 commit

<ul><li>b38508b7 - hotfix incorrect CRS for trns_x and trns_y when sp_out = TRUE (fix #80), add…</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=454&start_sha=2bd91bc9cc15c7b9dcff14a22ea57b9dffabc379)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Jun 7, 2019, 16:13

added 1 commit

<ul><li>8bd016c3 - fix output csv file name bug when multiple vrl input; make single call to vue…</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=487&start_sha=b38508b75790245eb76d72474ba31fd87c383cf6)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Oct 17, 2019, 14:34

added 1 commit

<ul><li>c1e8dead - allow xlim in abacus_plot</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=782&start_sha=8bd016c3b415afe0018bc08f3ea3b219651aa01d)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Nov 7, 2019, 20:01

added 19 commits

<ul><li>6f455c3e - Added function to convert glatos object to ATT object for VTrack</li><li>e58690a5 - Added documentation to the glatos_to_att function and cleaned up some unused parts of that file</li><li>d0eb6bf8 - Added .rd files for glatos_to_att and modified Readme to explain the new function</li><li>ed63656d - Added functi

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Nov 7, 2019, 20:21

added 2 commits

<ul><li>a2663688 - fix #77; fix collision prob plot in help example</li><li>66014038 - update news</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=838&start_sha=722d2ed5a71151b4ba71be9b7f8fd55760d56e84)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Nov 7, 2019, 21:05

added 1 commit

<ul><li>29994e3b - fix #74; add arg show_progress to make_frames &amp; interpolate_path</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=839&start_sha=660140387a213fe6913b2259458fe23b0c366482)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Nov 12, 2019, 14:32

added 5 commits

<ul><li>526d864b - fix #64; return output file name; add diagnostic_mode arg to optionally return...</li><li>1bb669c5 - quiet dplyr left joins by adding explicit bys</li><li>e6482418 - tidy up a bit</li><li>91b61c3c - suppress progress bars in tests</li><li>1094b927 - fix #72; fix #73; render hidden code chunk for fig 3 to pdf ht

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Nov 12, 2019, 14:35

added 1 commit

<ul><li>7e295bbd - very minor reformat; reflow comments</li></ul>

[Compare with previous version](https://gitlab.oceantrack.org/GreatLakes/glatos/merge_requests/18/diffs?diff_id=858&start_sha=1094b92751cde71672c34729de2af1cdffddcb84)

[2021-11-30 21:57] jdpye commented on #157
In GitLab by @chrisholbrook on Nov 12, 2019, 14:38

merged

[2021-11-30 21:58] #157 closed

[2021-11-30 21:58] jdpye opened #158 "Resolve "Create more generic way to convert otn data to ATT" - [merged]"
In GitLab by @ryangosse on Dec 10, 2019, 11:52

_Merges 90-create-more-generic-way-to-convert-otn-data-to-att -> nov2020-otn-features_

Closes #90

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 13, 2019, 11:30

added 2 commits

<ul><li>8f64b41a - Added functions to allow for ATT conversion of OTN data using tagging metadata...</li><li>df900175 - Added manuals for the new functions</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=913&start_sha=9cb9c730d34156909a142248cf5e3569062037bf)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 13, 2019, 11:49

added 1 commit

<ul><li>96e35d44 - Updated Readme</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=914&start_sha=df90017570a550183647c94be39cc70f0acd7acf)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 16, 2019, 11:42

added 1 commit

<ul><li>3f9d9679 - Update ReadMe.md</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=916&start_sha=96e35d4425f3704d18143b45e9433798d16fa17f)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 17, 2019, 14:45

added 1 commit

<ul><li>8ff2ddcc - Fixed some issues involving factors and tag metadata</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=918&start_sha=3f9d967935e92c7d28209265a3fc8714792f5bef)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 19, 2019, 13:39

added 1 commit

<ul><li>f154ffff - Fixed merging of tags and detections</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=919&start_sha=8ff2ddcc0d9f9261e983dd7a9b526e0e814c2fce)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 20, 2019, 15:34

added 1 commit

<ul><li>f4313b0c - Allowed for detections to not be filtered by receiver times</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=922&start_sha=f154ffffa9bca14bcc341fb5cb8a5475da51289d)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 14, 2020, 09:36

added 1 commit

<ul><li>558030ad - Added some more docs to convert_otn_to_att</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=935&start_sha=f4313b0c52e8f705f6c6a97b1440557975cee1c1)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 14, 2020, 09:36

unmarked as a **Work In Progress**

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 15, 2020, 11:29

added 1 commit

<ul><li>1b4867ac - Added tests for new ATT script, fixed some small issues, and update the inst...</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=938&start_sha=558030add13e619c0e8c230b6a9197a445781fd5)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 15, 2020, 11:31

assigned to @chrisholbrook

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 15, 2020, 11:43

assigned to @ryangosse and unassigned @chrisholbrook

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 15, 2020, 11:43

Oops, forgot some namespacing

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 20, 2020, 10:58

added 1 commit

<ul><li>65f50809 - Fixed some namespacing</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/23/diffs?diff_id=960&start_sha=1b4867ac5a0fdc8b26345948f02ea19ff6bbd923)

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Jan 20, 2020, 10:58

assigned to @chrisholbrook and unassigned @ryangosse

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @chrisholbrook on Feb 17, 2020, 21:20

changed target branch from `master` to `dev`

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 1, 2020, 20:57

changed target branch from `dev` to `nov2020-otn-features`

[2021-11-30 21:58] jdpye commented on #158
In GitLab by @ryangosse on Dec 1, 2020, 20:57

assigned to @ryangosse and unassigned @chrisholbrook

[2021-11-30 21:59] jdpye commented on #158
In GitLab by @ryangosse on Dec 1, 2020, 21:26

merged

[2021-11-30 21:59] #158 closed

[2021-11-30 21:59] jdpye opened #159 "WIP: Resolve "position_heat_map - kmz output works on Mac but not on Windows" - [opened]"
In GitLab by @trbinder on Feb 20, 2020, 15:05

_Merges 96-position_heat_map-kmz-output-works-on-mac-but-not-on-windows -> main_

Closes #96

[2021-11-30 21:59] jdpye commented on #159
In GitLab by @jdpye on Nov 30, 2021, 12:39

changed target branch from `master` to `main`

[2021-11-30 21:59] jdpye opened #160 "Updated read_otn_deployments function to take default params for date columns. - [merged]"
In GitLab by @bdelo on Mar 16, 2020, 12:22

_Merges read_otn_deployments_params -> nov2020-otn-features_

To fix ticket #102, adds default parameters to the read_otn_deployments function.

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @bdelo on Mar 17, 2020, 15:10

assigned to @jdpye

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @jdpye on Mar 18, 2020, 17:20

changed target branch from `master` to `dev`

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @jdpye on Apr 6, 2020, 13:32

This feature looks good to me. I guess we should first merge dev into this feature branch so gitlab stops being so cranky.

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @ryangosse on Dec 2, 2020, 13:07

changed target branch from `dev` to `nov2020-otn-features`

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @ryangosse on Dec 2, 2020, 13:07

assigned to @ryangosse and unassigned @jdpye

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @ryangosse on Dec 2, 2020, 13:07

merged

[2021-11-30 21:59] jdpye commented on #160
In GitLab by @ryangosse on Dec 2, 2020, 13:07

mentioned in commit 648380a6ac7e9a2530685a12f96688fff0850067

[2021-11-30 21:59] #160 closed

[2021-11-30 21:59] jdpye opened #161 "Nov2020 otn features - [merged]"
In GitLab by @ryangosse on Dec 2, 2020, 13:08

_Merges nov2020-otn-features -> dev_

These are all the features I want to be added to the new version of glatos

[2021-11-30 21:59] jdpye commented on #161
In GitLab by @ryangosse on Dec 2, 2020, 13:33

unmarked as a **Work In Progress**

[2021-11-30 21:59] jdpye commented on #161
In GitLab by @ryangosse on Dec 2, 2020, 13:33

assigned to @chrisholbrook and unassigned @ryangosse

[2021-11-30 21:59] jdpye commented on #161
In GitLab by @ryangosse on Dec 7, 2020, 20:06

added 1 commit

<ul><li>921a3414 - Fixed my last name</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2043&start_sha=648380a6ac7e9a2530685a12f96688fff0850067)

[2021-11-30 21:59] jdpye commented on #161
In GitLab by @chrisholbrook on Dec 8, 2020, 18:05

@ryangosse this errors because only one sheet in `hfx_deploy_simplified.xlsx`
If that's the correct file, then should be this?
[code]

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Dec 8, 2020, 18:06

added 2 commits

<ul><li>4502ea1b - hotfix doc issue; replace `in_file` with &#39;in_file&#39; (backticks) to single quote</li><li>067e6ada - update docs</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2067&start_sha=921a34143d1fab7ad80cf68a4aff2331b5d2fb18)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Dec 8, 2020, 18:33

@ryangosse Two issues here.

1. in read_excel, skip is applied before anything is read, so it will omit the header. In the example above (when `start = 5`), the data on the 4th row will become header. So if you really want start row flexibility, then maybe read in the column names first, then specify those, as suggested below.

2. Since skip inclu

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 15:52

changed this line in [version 4 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2160&start_sha=067e6ada0573e68d038a6d60de24538805f9f2ea#984cfa1c7a74e0299e2795660fc8922b48320232_28_28)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 15:52

added 1 commit

<ul><li>89282ffd - Apply suggestion to R/load-prepare_deploy_sheet.R</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2160&start_sha=067e6ada0573e68d038a6d60de24538805f9f2ea)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 15:55

resolved all threads

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 15:55

changed this line in [version 5 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2161&start_sha=89282ffde9d7f33fa5d05f6eaff688cd7c759444#984cfa1c7a74e0299e2795660fc8922b48320232_33_33)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 15:55

added 1 commit

<ul><li>2d7411a6 - Apply suggestion to R/load-prepare_deploy_sheet.R</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2161&start_sha=89282ffde9d7f33fa5d05f6eaff688cd7c759444)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 16:12

added 1 commit

<ul><li>bd5990b5 - Fixed some minor bugs for the ATT crosswalk from OTN functions</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2162&start_sha=2d7411a60c185890fdf7217a15d89b4282889467)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Dec 16, 2020, 16:22

Yes, that's the correct file, I just messed up when copying and pasting.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 21:14

Default value `start = 1` does not work with the example file `otn_nsbs_tag_metadata.xls`. If the example file is a standard format, then the default value should be `start = 5`.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 21:15

Default value `sheet = 1` does not work with example file `otn_nsbs_tag_metadata.xls`. If the example file is a standard format, then the default value should be `sheet = 2`.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 21:49

added 3 commits

<ul><li>5a0be7f8 - update docs</li><li>3cc2b54d - fix typo in help example</li><li>0299fba8 - fix typos in help; several detection replaced with deployment</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2864&start_sha=bd5990b5ae8c967f9d55cb8dde6840def56bbe92)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 22:31

I would prefer if object `sheet` here were not named the same as argument `sheet`.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 22:31

This breaks if `start` is not equal to the line number with headers. Is that intended? If so, describe that here. If this is intended to provide some other flexibility (skipping first n rows of data), then it breaks; e.g., try `tags <- prepare_tag_sheet(tag_path, start = 6, 2)`

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 22:31

Note that this returns a list, not a vector, result is complex structure of return object... run the example and then `str(tags)`... `est_tag_life` is a list of 20, should be integer vector.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 22:31

Bunch of issues in the doc here where `detection` was used in place of `deployment`; obviously carryover from earlier copy-paste. Fixed in commit 0299fba8d7baf371c84ad4c886982f4482d22eb9.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 22:33

added 2 commits

<ul><li>21009ed6 - expace special character % to fix doc issue</li><li>b3ec1182 - fix minor path issue sysdata.rda</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2866&start_sha=0299fba8d7baf371c84ad4c886982f4482d22eb9)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @chrisholbrook on Apr 23, 2021, 22:53

@ryangosse Fix issues in `R/load-prepare_tag_sheet.R` (described in today's comments) and this is good to join `chicken-and-waffles` in dev.

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 10:12

I'll fix these up today! Thanks Chris

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:49

changed this line in [version 9 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2877&start_sha=b3ec11824770710e8f20523ea76b8f888c98146e#e702bdfaf2709c7812348fdc085e4249fa7fa3c3_32_32)

[2021-11-30 22:00] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:49

changed this line in [version 9 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2877&start_sha=b3ec11824770710e8f20523ea76b8f888c98146e#e702bdfaf2709c7812348fdc085e4249fa7fa3c3_32_32)

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:49

changed this line in [version 9 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2877&start_sha=b3ec11824770710e8f20523ea76b8f888c98146e#e702bdfaf2709c7812348fdc085e4249fa7fa3c3_33_32)

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:49

changed this line in [version 9 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2877&start_sha=b3ec11824770710e8f20523ea76b8f888c98146e#e702bdfaf2709c7812348fdc085e4249fa7fa3c3_6_6)

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:49

changed this line in [version 9 of the diff](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2877&start_sha=b3ec11824770710e8f20523ea76b8f888c98146e#e702bdfaf2709c7812348fdc085e4249fa7fa3c3_36_36)

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:49

added 1 commit

<ul><li>65aec0c4 - Fixed the issues Chris found</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2877&start_sha=b3ec11824770710e8f20523ea76b8f888c98146e)

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:51

Oops, didn't mean to do that

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:51

Fixed it in prepare_deploy_sheet too

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:52

I renamed the args for this and prepare_deploy_sheet to better reflect what the arg does

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:53

added 5 commits

<ul><li>65aec0c4...90f71899 - 4 commits from branch <code>dev</code></li><li>ca66df27 - Merge branch &#39;dev&#39; into &#39;nov2020-otn-features&#39;</li></ul>

[Compare with previous version](/GreatLakes/glatos/-/merge_requests/27/diffs?diff_id=2879&start_sha=65aec0c4f9d7ac7761a63fed101ee926c656c5a2)

[2021-11-30 22:01] jdpye commented on #161
In GitLab by @ryangosse on Apr 26, 2021, 21:55

@chrisholbrook All fixed up and merged

[2021-11-30 22:01] #161 closed

[2021-12-01 18:59] jdpye opened #163 "Include CRS attribution to att_obj to replicate ATT object in VTrack - [closed]"
In GitLab by @vudyawer on Nov 30, 2019, 23:50

_Merges patch-1 -> master_

[2021-12-01 18:59] jdpye commented on #163
In GitLab by @chrisholbrook on Feb 17, 2020, 23:39

added 1 commit

<ul><li>b07afd34 - add default value for input arg &#39;crs&#39;; fixes error Error in inherits(crs, CRS) :</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/22/diffs?diff_id=1022&start_sha=f410f403c211b95c9a0bbaddca550e735a30c5b2)

[2021-12-01 19:00] jdpye commented on #163
In GitLab by @chrisholbrook on Feb 17, 2020, 23:50

Thanks for catching this @vudyawer. `if (inherits(crs, "CRS"))` couldn't be evaluated if missing (`Error... "argument crs is missing"`), so I set default `crs = sp::CRS("+init=epsg:4326")`. Any reason not to do this? @ryangosse

[2021-12-01 19:00] jdpye commented on #163
In GitLab by @jdpye on Feb 27, 2020, 14:15

Definitely the way I have had to solve it in the wild just today.

Do we anticipate anyone building ATT objects from GLATOS/OTN data with other coordinate reference systems? I don't imagine we would? If we're happy to believe the only input coordinate data are going to be decimal lat/lon we won't have any trouble with including the CRS like above.

[2021-12-01 19:00] jdpye commented on #163
In GitLab by @chrisholbrook on Feb 27, 2020, 23:50

epsg:4326 is the standard for GLATOS, so that as default is a good fit for us

[2021-12-01 19:00] jdpye commented on #163
In GitLab by @chrisholbrook on Apr 23, 2021, 22:48

mentioned in commit 90f71899e03202c521dc94161226c36e7bba6075

[2021-12-01 19:00] jdpye commented on #163
In GitLab by @chrisholbrook on Apr 23, 2021, 22:49

closed with 90f7189

[2021-12-01 19:00] #163 closed

[2021-12-01 19:00] jdpye opened #164 "Added 'invert' parameter to make_transition. - [closed]"
In GitLab by @bdelo on Mar 9, 2020, 15:07

_Merges inverted_make_transition -> master_

The new parameter passes straight through to gdal_rasterize's 'i' parameter, indicating that it should return the inverse of the raster it ordinarily would. This is useful if the polygon passed to the function represents a landmass rather than a body of water. For example, if a user downloads a polygon from GAD

[2021-12-01 19:00] jdpye commented on #164
In GitLab by @chrisholbrook on Mar 12, 2020, 13:17

added 1 commit

<ul><li>35cdcb77 - change order of new input arg invert for backward compatibility; add tests; fixes #101</li></ul>

[Compare with previous version](/GreatLakes/glatos/merge_requests/25/diffs?diff_id=1098&start_sha=8fb7a6949d8847fe362bb8aab7baa80161813ad3)

[2021-12-01 19:00] jdpye commented on #164
In GitLab by @chrisholbrook on Mar 12, 2020, 13:19

moved new parameter 'invert' to end of arguments for backward compatibility; added tests; and merged to dev (0.4.2).

[2021-12-01 19:00] jdpye commented on #164
In GitLab by @chrisholbrook on Mar 12, 2020, 13:19

closed

[2021-12-01 19:00] #164 closed

[2021-12-08 16:17] jdpye opened #165 "prepare_deploy_sheet() needs to handle non-OTN deployment metadata"
Slight differences in column names means prepare_deploy_sheet() can't read FACT or ACT metadata. Need to adjust the function to accept a range of values where it currently expects OTN_ARRAY

[2021-12-09 15:14] jdpye opened #166 "Add explicit casting to convert_otn_to_att for detection lat and lon"
The convert_otn_to_att function can produce lat lons that are character in type, which doesn't throw any errors when generating the ATT object but prevents the use of any of its functionality.

Should add casting to that function's handling of detection lat/lon ensure that lat lon are of type numeric or double. This exists already for deployment and tag lat/lon mutate calls.

[2021-12-09 19:40] CaitlinBate commented on #135
https://github.com/ocean-tracking-network/glatos/blob/main/vignettes/data_loading_vignette.Rmd

[2021-12-11 03:56] chrisholbrook commented on #138
fixed in fix-138-remove-openxlsx

[2021-12-13 23:02] #138 closed

[2021-12-13 23:48] jdpye commented on #120
Was this an actual fix or did this auto-close like @chrisholbrook warned us it would?

[2022-02-02 16:03] haydento opened #173 "Update spatial functions"
crw_in_polygon function relies heavily on functions from the sp package.  sp is old and not being actively developed anymore. The crw_in_polygon function needs to be migrated over to sf package.  Although the function will still work, calling it throws a tons of warnings because sp is not completely compatible with recent breaking changes in external spatial libraries that sp calls, specifically,

[2022-03-05 00:10] trbinder commented on #159
This error is the product of the fact that zip::zip seems to work differently on Windows and Macs. The issues is resolved by replacing the zip::zipr function call on or around line 452 with the following code, which calls the function differently depending on operating system.

if(Sys.info()['sysname']=="Darwin"){
   	zip::zip(zipfile = file.path(paste0(folder, "/", fish_pos_int,"_",

[2022-04-29 20:57] jdpye opened #174 "Loss of gdalUtils breaks installation for R 4.2.0"
As reported by Jeff Quinn.

Checked against Mac OSX Big Sur and 4.2.0, sure enough lack of gdalUtils is the culprit. the CRAN page seems to convey that gdalUtils isn't on CRAN anymore due to them not handling a bugfix fast enough?

 The task before us seems to be to remove our gdalUtils dependencies or advertise that we're not installable on R 4.2.0.

[2022-06-24 16:09] #174 closed

[2022-06-24 16:09] #159 closed

[2022-06-24 16:09] #123 closed

[2022-06-24 16:32] chrisholbrook commented on #137
fixed in commit [1b1335b](https://github.com/ocean-tracking-network/glatos/commit/1b1335b791e73aa8f4c67eb2159c9dab64fbc1f3)

[2022-10-20 18:07] jdpye opened #176 "Print sheet names we are operating on in prepare_tag_sheet and prepare_deploy_sheet"
It'd be good to include some flavour text when using prepare_tag_sheet and prepare_deploy_sheet to specify which sheet the script is operating on. It would likely only have to happen in cases where multiple sheets are in the file being operated on, but wouldn't hurt to just print every time if it makes the code easier.